$box-shadow: 0 3px 18px 0 rgba(48, 40, 40, 0.25);
$crm-form-control-shadow: inset 0 0 3px 0 rgba(0,0,0,0.2);

//== CiviCRM Page
//
//##

$crm-page-breakpoint-min:      1240px !default; // Unfortunately arbitrary

$crm-page-sidebar-bg:          #fff !default;
$crm-page-sidebar-max-width:   170px !default;

$crm-page-main-max-width:      1004px !default;
$crm-page-main-padding:        16px !default;

$crm-page-topbar-bg:           #586277 !default;
$crm-page-topbar-bg-light:     #656C80;
$crm-page-topbar-color:        #fff !default;
$crm-page-topbar-item-padding: 15px !default;
$crm-accordion-header-color:   #f3f6f7;

//
// Variables override
// --------------------------------------------------


//== Font paths
//
//##
$icon-font-path: "../base/fonts/" !default;
$fa-font-path:   "../fonts/font-awesome" !default;
$os-font-path:   "../fonts/open-sans" !default;


//== Colors
//
//## Gray and brand colors for use across Bootstrap.

$crm-background:            #E8EEF0 !default;
$crm-copy:                  #727E8A !default;

$gray-darker:               #4D5663 !default;
$gray-dark:                 $crm-copy !default;
$gray-light:                $crm-background !default;
$gray-lighter:              #F3F6F7 !default;
$crm-gray-lightest:         #FAFAFB !default;

$brand-primary:             #42AFCB !default;
$brand-success:             #8EC68A !default;
$brand-info:                #5bc0de !default;
$brand-warning:             #ECA67F !default;
$brand-danger:              #E6807F !default;
$crm-brand-primary-light:   lighten(desaturate(adjust-hue($brand-primary, 4.9301), 34.7499), 45.6863) !default;
$crm-brand-primary-lighter: lighten(desaturate(adjust-hue(#3ab1c9, -10.0699), 36.9721), 48.2353) !default;

$crm-color-neutral:         #949caa !default; // gray shade
$crm-dark-blue:             #586277 !default;
$crm-dark-grayblue:         #D3DEE2 !default;
$crm-darker-grayblue:       #C2CFD8 !default;
$crm-white:                 #FFF !default;

$crm-dialog-container-border: #d3dee2;

//== Scaffolding
//
//## Settings for some of the most global styles.

$body-bg: $crm-background !default;


//== Typography
//
//## Font, line-height, and color for body text, headings, and more.

$font-family-sans-serif:  "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$font-family-base:        "Open Sans", $font-family-sans-serif !default;

$font-size-base:          13px !default;
$font-size-medium:        14px !default;
$font-size-xs:            9px !default;
$crm-font-size-base-unitless: 13;

$font-size-h1:            24px !default;
$font-size-h2:            18px !default;
$font-size-h3:            16px !default;
$font-size-h4:            $font-size-medium !default;
$font-size-h5:            $font-size-base !default;

$line-height-base:        1.53846153846154 !default; // 20/13

$headings-font-weight:    500 !default;
$headings-color:          $gray-darker !default;

$crm-font-weight-h1:          600 !default;
$crm-font-weight-h2:          600 !default;
$crm-font-weight-h3:          600 !default;
$crm-font-weight-h4:          500 !default;
$crm-font-weight-h5:          700 !default;
$crm-font-weight-h6:          500 !default;


//== Iconography
//
//## Specify custom location and filename of the included Glyphicons icon font. Useful for those including Bootstrap via Bower.

$icon-font-path: "../vendor/bootstrap/fonts/bootstrap/" !default;


//== Components
//
//## Define common padding and border radius sizes and more. Values based on 14px text and 1.428 line-height (~20px to start).

$padding-base-vertical:   4px !default;
$padding-small-vertical:  2px !default;

$padding-base-horizontal: 10px !default;

$border-radius-base:  2px !default;
$border-radius-small: $border-radius-base !default;


//== Tables
//
//## Customizes the `.table` component with basic values, each used across all table variations.

$table-cell-padding: 10px 20px !default;
$table-bg:           $crm-white !default;
$table-bg-accent:    $crm-brand-primary-light !default;
$table-border-color: $gray-light !default;

$crm-table-heading-bg: $gray-lighter !default;
$crm-table-heading-border-color: $crm-dark-grayblue !default;


//== Buttons
//
//## For each of Bootstrap's buttons, define text, background and border color.

$btn-font-weight:                 500 !default;

$crm-btn-padding-base-horizontal: 19px;
$crm-btn-padding-base-vertical:   7px;
$crm-btn-padding-small-vertical:  5px;

$btn-default-color:               $gray-darker;
$btn-default-bg:                  $crm-white !default;
$btn-default-border:              $btn-default-bg !default;
$crm-btn-border-color:            #979797;


//== Forms
//
//##

$input-bg-disabled:         $gray-lighter !default;
$input-color:               $gray-darker !default;
$input-border:              $crm-darker-grayblue !default;

$input-border-radius-large: $border-radius-base !default;
$input-border-radius-small: $border-radius-base !default;

$crm-input-addon-color:     $gray-darker !default;

//== Dropdowns
//
//## Dropdown menu container and contents.

$dropdown-link-hover-bg: $gray-lighter !default;
$dropdown-header-color:  $gray-darker !default;

$crm-dropdown-padding:   11px 20px;


//== Labels
//
//##

$label-default-bg: $crm-darker-grayblue;


//== Modals
//
//##

$modal-inner-padding:         20px 30px !default;
$modal-title-padding:         10px 29px !default;
$crm-modal-footer-padding:    20px !default;
$crm-modal-sm-title-padding:  10px 20px !default;
$crm-modal-sm-footer-padding: 10px !default;

$modal-footer-border-color:   $gray-light !default;

$modal-lg:                    945px !default;
$modal-md:                    555px !default;
$modal-sm:                    360px !default;


//== Panels
//
//##

$panel-bg:                  transparent !default;
$panel-body-padding:        15px 20px !default;
$panel-heading-padding:     $panel-body-padding !default;
$panel-footer-padding:      $panel-heading-padding !default;
$panel-border-radius:       $border-radius-base + 1 !default;

$panel-inner-border:        $gray-light !default;
$panel-footer-bg:           #ffffff !default;

$crm-panel-heading-margin:  10px !default;

//== Subheading
$crm-panel-subheading-padding: $panel-heading-padding !default;

//== Abstract and collapsible extra
$crm-panel-abstract-padding: 8px 20px !default;
$crm-panel-extra-padding:    5px 20px 10px 35px !default;

//== Contextual variations
$panel-default-text:        $gray-darker !default;
$panel-default-heading-bg:  $gray-lighter !default;

$panel-success-text:        $crm-white !default;
$panel-success-heading-bg:  $brand-success !default;

$panel-info-text:           $crm-white !default;
$panel-info-heading-bg:     $brand-info !default;

$panel-warning-text:        $crm-white !default;
$panel-warning-heading-bg:  $brand-warning !default;

$panel-danger-text:         $crm-white !default;
$panel-danger-heading-bg:   $brand-danger !default;

//== Nested panel
$crm-panel-nested-indent: 20px;

//== Status strip
$crm-panel-status-strip-width: 6px !default;


//== Grid system
//
//## Define your custom responsive grid.

$grid-gutter-width: 16px !default;


//== Navs
//
//##

//=== Shared nav styles
$nav-link-padding:                        10px 20px !default;
$crm-nav-color:                           $gray-darker;

$nav-disabled-link-color:                 lighten(desaturate(adjust-hue($crm-nav-color, -13.6364), 1.1598), 46.4706) !default;
$nav-disabled-link-hover-color:           $nav-disabled-link-color !default;

//== Tabs
$nav-tabs-border-color:                   $crm-dark-grayblue !default;
$nav-tabs-active-link-hover-bg:           $crm-white !default;
$nav-tabs-active-link-hover-color:        $brand-primary !default;
$nav-tabs-active-link-hover-border-color: $nav-tabs-border-color !default;
$crm-nav-tab-content-padding:             $panel-body-padding !default;

$crm-nav-stacked-bg:                      $crm-white;
$crm-nav-stacked-link-padding:            15px 20px !default;
$crm-nav-stacked-border-radius:           0 !default;

//== Nav tabs placed in a panel heading
$crm-nav-tabs-panel-heading-border:                  0 !default;
$crm-nav-tabs-panel-heading-margin:                  -10px 0 !default;
$crm-nav-tabs-panel-heading-link-background:         transparent !default;
$crm-nav-tabs-panel-heading-link-border-color:       #ffffff !default;
$crm-nav-tabs-panel-heading-link-border-width:       0 !default;
$crm-nav-tabs-panel-heading-link-border-hover-width: 0 0 3px 0 !default;
$crm-nav-tabs-panel-heading-link-color:              $crm-nav-tabs-panel-heading-link-border-color !default;
$crm-nav-tabs-panel-heading-link-padding:            15px 15px 12px !default;
$crm-nav-tabs-panel-heading-link-weight:             600 !default;


//== Pagination
//
//##

$pagination-color:                     $gray-dark !default;
$pagination-bg:                        transparent !default;

$pagination-hover-color:               $gray-darker !default;
$pagination-hover-bg:                  $pagination-bg !default;

$pagination-active-color:              $gray-darker !default;
$pagination-active-bg:                 $pagination-bg !default;

$pagination-disabled-color:            $gray-light !default;
$pagination-disabled-bg:               $pagination-bg !default;

//== Form states and alerts
//
//## Define colors for form feedback states and, by default, alerts.

$state-success-text:             $brand-success !default;
$state-info-text:                $brand-info !default;
$state-warning-text:             $brand-warning !default;
$state-danger-text: $brand-danger !default;


//== Badges
//
//##

$badge-bg:            $brand-primary !default;
$badge-font-weight:   400 !default;
$badge-line-height:   1.1 !default;

$crm-badge-min-width: 25px;


//== Breadcrumbs
//
//##

$breadcrumb-separator:          ">" !default;


//== Type
//
//##

$dl-horizontal-offset: 250px !default;

$blockquote-small-color:      $crm-copy !default;
$blockquote-border-color:     $brand-primary !default;

$crm-ui-select-top-padding: 4px;
