/**
 * Absolutely positions and vertically and horizontally centers an element
 */
@mixin absolute-centered() {
  bottom: 0;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
}

/**
 * Dropdown arrow
 */
@mixin dropdown-arrow() {
  content: '\f0d7';
  border-left: 1px solid $input-border;
  bottom: 0;
  font-family: "FontAwesome";
  display: inline-block;
  height: 100%;
  line-height: $input-height-base;
  position: absolute;
  right: 0;
  text-align: center;
  width: 32px;
  z-index: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
