/* 
 * This file holds styles specific to the Festival of Architecture registration form on 
 * the www.raic.org site (whereas global.css contains the styles for use on the
 * festival2016.raic.org site).
 *
 * NOTE: It is currently set to be loaded by context (https://raic.org/admin/structure/context/list/raic_festival_registration_form/edit), via the context_addassets module.  This way it does not affect the festival2016.raic.org site, but is only used on the registration form on www.raic.org.
 */


/* Invisible elements */

#block-menu-menu-festival-registration-foo h2.block-title,
#block-block-57 h2.block-title,
#block-block-68 h2.block-title {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px);
	clip: rect(1px, 1px, 1px, 1px);
	overflow: hidden;
	height: 1px;
}

/* Festival - Top Menu */

body.lang-fr #block-nice-menus-3  {
	font-family: 'Open Sans-Regular';
	font-size: 11px; 
	-webkit-text-size-adjust: none;
	padding: 4px 0px 0px 0px;
	text-align: right;
	text-transform: uppercase;
	color: #fff;
	position: absolute;
	left: 178px;
}

body.lang-en #block-nice-menus-3  {
	font-family: 'Open Sans-Regular';
	font-size: 11px; 
	-webkit-text-size-adjust: none;
	padding: 4px 0px 0px 0px;
	text-align: right;
	text-transform: uppercase;
	color: #fff;
	position: absolute;
	left: 538px;
	width: 250px;
}

#block-nice-menus-3 ul li.first {
	border-left-color: #adb1b3;
}

#block-nice-menus-3 ul li.last {
	border-right-color: #FFF;
}

#block-nice-menus-3 ul li {
	padding: 0px 5px 0px 5px;
	background-color: #adb1b3;
	border-bottom-color: #adb1b3;
	border-top-color: #adb1b3;
	border-right-color: #adb1b3;
	border-left-color: #FFF;
}

#block-nice-menus-3 ul li a { 
	color: #FFF;
	text-decoration: none;
	display: inline;
}

#block-nice-menus-3 ul li a:hover { 
	color: #FFF;
	text-decoration: underline;
}

#block-nice-menus-3 .nolink { 
	padding: 5px 5px 5px 5px;
}

#block-nice-menus-3 .nolink li { 
	padding: 5px 0px 5px 5px;
}

#block-nice-menus-3 .nolink:hover { 
	text-decoration: underline;
	color: #f04e23;
	cursor: pointer;
}

#block-nice-menus-3 ul li li {
	text-align: left;
	padding: 3px 0px 2px 6px;
	background-color: #989da0;
}

#block-nice-menus-3 ul li li:hover {
	background-color: #333a42;
	color: #FFF;
	text-decoration: none;
}

#block-nice-menus-3 ul li li a:hover {
	text-align: left;
	color: #FFF;
	border: none;
	text-decoration: none;
}

#block-nice-menus-3 ul li li.first {
	border-left-color: #989da0;
}

#block-nice-menus-3 ul li li.last {
	border-right-color: #989da0;
}

#block-nice-menus-3 ul li ul {
	text-align: left;
	border-top: 10px solid #989da0;	
	border-bottom: 10px solid #989da0;
	border-left: 10px solid #989da0;	
	border-right: 10px solid #989da0;	
}

#block-nice-menus-3 ul li ul li {
	text-align: left;
	border-color: #989da0;
}

#block-nice-menus-3 ul.nice-menu-down li.menuparent {
    background: none;
}

/* Festival - Top Menu French */
body.lang-fr #block-nice-menus-3 {
    font-family: 'Open Sans-Regular';
    font-size: 11px;
    -webkit-text-size-adjust: none;
    padding: 4px 0px 0px 0px;
    text-align: right;
    text-transform: uppercase;
    color: #fff;
    position: absolute;
    left: 488px;
    width: 285px;
}

/* Festival - Sidebar Left (Menu Block) */

#region-sidebar-first h2 {
	color:#333C42;
}

#region-sidebar-first .block-menu-block-3 {
	font-family: 'News Gothic Std';
	font-size: 15px;
	background: url(../images/menu_bg.jpg);
	margin-top: 0px;
	margin-left: 0px;
	width: 210px;
	height: 519px;
}

#region-sidebar-first .block-menu-block-3 ul.menu {
	padding-top: 20px;
	padding-right: 12px;
	padding-left: 40px;
	text-align: right;
	line-height: 1.1;
}

#region-sidebar-first .block-menu-block-3 ul.menu li {
	list-style-type: none;
	list-style-image: none;
	padding-bottom: 9px;
}

#region-sidebar-first .block-menu-block-3 ul.menu li.active-trail {
	list-style-type: none;
	list-style-image: none;
	font-size: 15px;
}

#region-sidebar-first .block-menu-block-3 ul li ul li a.active-trail.active {
	list-style-image: none;
	list-style-type: none;	
	font-size: 12px;
}

#region-sidebar-first .block-menu-block-3 ul.menu a {
	color: #FFF; 	
}

#region-sidebar-first .block-menu-block-3 .separator {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px);
	clip: rect(1px, 1px, 1px, 1px);
	overflow: hidden;
	height: 1px;
}

#region-sidebar-first .block-menu-block-3 ul li.expanded {
	margin-left: 10px;
	list-style-image: none;
	list-style-type: none;
	font-size: 13px;
}

#region-sidebar-first .block-menu-block-3 .active-trail .nolink {
	font-size: 14px;
}


#region-sidebar-first h2.block-title {
	font-family: 'Open Sans-Regular';
	font-size: 16px;
	
}

.region-sidebar-first-inner {
	margin: 0px 0px 0px -10px;
}

/* Festival - Sidebar Right (Menu Block) */

.container-12 .grid-3 {
  right: 0 !important;
}

#region-sidebar-second h2 {
	color:#333C42;
}

#region-sidebar-second .block {
	border-bottom: 3px solid #7ebeda;
	margin-bottom: 2em;
}

#region-sidebar-second .block-menu-block-3 {
	font-family: 'News Gothic Std';
	font-size: 15px;
	background: url(../images/menu_bg_right.jpg);
	margin-top: 0px;
	margin-left: 0px;
	width: 210px;
	height: 519px;
}

#region-sidebar-second .block-menu-block-3 ul.menu {
	padding-top: 20px;
	padding-right: 12px;
	padding-left: 40px;
	text-align: right;
	line-height: 1.1;
}

#region-sidebar-second .block-menu-block-3 ul.menu li {
	list-style-type: none;
	list-style-image: none;
	padding-bottom: 9px;
}

#region-sidebar-second .block-menu-block-3 ul.menu li.active-trail {
	list-style-type: none;
	list-style-image: none;
	font-size: 15px;
}

#region-sidebar-second .block-menu-block-3 ul li ul li a.active-trail.active {
	list-style-image: none;
	list-style-type: none;	
	font-size: 12px;
}

#region-sidebar-second .block-menu-block-3 ul.menu a {
	color: #FFF; 	
}

#region-sidebar-second .block-menu-block-3 .separator {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px);
	clip: rect(1px, 1px, 1px, 1px);
	overflow: hidden;
	height: 1px;
}

#region-sidebar-second .block-menu-block-3 ul li.expanded {
	margin-left: 10px;
	list-style-image: none;
	list-style-type: none;
	font-size: 13px;
}

#region-sidebar-second .block-menu-block-3 .active-trail .nolink {
	font-size: 14px;
}


#region-sidebar-second h2.block-title {
	font-family: 'Open Sans-Regular';
	font-size: 16px;
	
}

.region-sidebar-second-inner {
	margin: 0;
}

    /* Festival Registration block */

#block-block-90 .content {
    margin: 0;
	padding: 6px 11px;
}

/* Festival - Contact Info */

#block-block-57 h3,
#block-block-68 h3 {
	font-family: 'Open Sans-Regular';
	font-size: 17.5px;
	margin-bottom: 5px;
	font-weight: 100;
	margin-top: 10px;
}

#block-block-57 h3 strong,
#block-block-68 h3 strong {
	font-weight: 600;
}

#block-block-57 .column a,
#block-block-68 .column a {
	color: #fff;
	text-decoration: none;
}

#block-block-57 .column a:hover,
#block-block-68 .column a:hover {
	color: #f04e23;
	text-decoration: underline;
}

#block-block-57 .column,
#block-block-68 .column {
	font-family: 'Open Sans-Regular';
	float: left;
	font-size: 14px;
	line-height: 1.3;
	padding-right: 2.5em;
}

/* Festival - Social media icons */

#block-block-59 h2,
#block-block-69 h2 {
	font-family: 'Open Sans-Semibold';
	font-size: 15px;
	margin-bottom: 5px;
	font-weight: 100;
}

#block-block-59 ul,
#block-block-69 ul {
	margin: 0 0 5px 0;
	padding: 0;
	list-style: none;
	list-style-type: none;
	list-style-image: none;
}

#block-block-59 ul li,
#block-block-69 ul li {
	display: inline;
	height: 30px;
	width: 30px;
	margin: 0 0 0 10px;
	padding: 0;
	list-style: none;
	list-style-type: none;
	list-style-image: none;
}

#block-block-59 .content a, 
#block-block-69 .content a { 
	background: url('../images/social-media-sprites.png') no-repeat;
	display: inline-block;
	width: 30px; 
	height: 30px; 
} 

#block-block-59 .content a.sprite-facebook, 
#block-block-69 .content a.sprite-facebook { 
	background-position: 0 0; 
} 

#block-block-59 .content a.sprite-instagram,
#block-block-69 .content a.sprite-instagram { 
	background-position: 0 -40px; 
} 

#block-block-59 .content a.sprite-linkedin,
#block-block-69 .content a.sprite-linkedin { 
	background-position: 0 -80px; 
} 

#block-block-59 .content a.sprite-twitter,
#block-block-69 .content a.sprite-twitter { 
	background-position: 0 -160px; 
} 

/* Festival - Footer menu */

#block-menu-menu-festival-registration-foo {
	font-family: 'Open Sans-Regular';
	font-size: 13px;
	margin-bottom: 10px;
}

#block-menu-menu-festival-registration-foo ul li {
	float: right;
}

#block-menu-menu-festival-registration-foo ul li.first {
	padding-right: 0;
}

#block-menu-menu-festival-registration-foo ul li.last {
	border-left: none;
}

/* Festival - Copyright */

#block-block-58,
#block-block-70 {
	font-family: 'Open Sans-Regular';
	font-size: 12px;
	margin-top: -8px;
	margin-bottom: -8px;
}


/* Festival - Register Now! */

#block-block-87,
#block-block-88 {
	font-family: 'News Gothic Std';
	position: absolute;
	right: -470px;
	background-color: #ef4e22;
	width: 400px;
	text-align: left;
	font-size: 24px;
	color: #FFF;
	height: 50px;
	z-index: 1000;
}

#block-block-87 p,
#block-block-88 p {
	margin-top: 11px;
	margin-left: 47px;
}

#block-block-87 a,
#block-block-88 a {
	color: #FFF;
	text-decoration: none;
}

/* Festival - Registration Form */

  /* General */

fieldset {
  margin-top: 2em;  
}

fieldset legend {
  background: #439fd8;
  width: 100%;
  padding: 0.5em 12px;  
  text-transform: uppercase;
}

fieldset legend span, fieldset legend a:link, fieldset legend a:visited {
  color: #fff;
  font-size: 1.8em;
}

.fieldset-description {
  padding: 1em 0;
}

.webform-component-fieldset {
  clear: both;
}

.webform-component-fieldset.collapsed {
  margin-bottom: 3em;
}

.form-item {
  margin-bottom: 2em; 
}

  /* Events */
.webform-component--events .webform-component-markup {
  font-size: .85em;
  color: #6a6a6a;
}

  /* Admin */

.webform-component--admin legend {
  background: #fff;
}

.webform-component--admin span, .webform-component--admin span, .webform-component--admin a:link, .webform-component--admin a:visited {
  color: #f00;
  font-size: 1em;
  padding: 0 12px;
}

  /* Add a companion */

fieldset fieldset legend, .webform-component--civicrm-1-contact-1-fieldset-fieldset--civicrm-1-participant-1-cg16-custom-83 label[for=edit-submitted-civicrm-1-contact-1-fieldset-fieldset-civicrm-1-participant-1-cg16-custom-83] { 
  background: #8f9fa9;
  margin-top: 2em;
  padding: 0.5em 12px;  
}

fieldset fieldset legend span,  fieldset fieldset legend a:link, fieldset fieldset legend a:visited, .webform-component--civicrm-1-contact-1-fieldset-fieldset--civicrm-1-participant-1-cg16-custom-83 label[for=edit-submitted-civicrm-1-contact-1-fieldset-fieldset-civicrm-1-participant-1-cg16-custom-83] {
  color: #fff;
  font-size: 1.3em;
}

.webform-component--civicrm-1-contact-1-fieldset-fieldset .form-item {
  margin-top: 0em;
  margin-bottom: 1em;
}

.webform-component--civicrm-1-contact-1-fieldset-fieldset--civicrm-1-participant-1-cg16-custom-83 label {
  margin-top: 2em;
}

.webform-component--civicrm-1-contact-1-fieldset-fieldset--civicrm-1-participant-1-cg16-custom-83 .description, #edit-submitted-civicrm-1-contact-1-fieldset-fieldset-civicrm-1-participant-1-cg16-custom-83 {
  margin-top: 1em;
  margin-bottom: 1em;
}

  /* Progress Bar and Buttons */

.webform-progressbar {
  margin-bottom: 5em;
}

.form-submit, input[type="submit"] {
  background: #70767a;
  background-image: -webkit-linear-gradient(top, #00a651, #21a661);
  background-image: -moz-linear-gradient(top, #00a651, #21a661);
  background-image: -ms-linear-gradient(top, #00a651, #21a661);
  background-image: -o-linear-gradient(top, #00a651, #21a661);
  background-image: linear-gradient(to bottom, #00a651, #21a661);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  color: #ffffff;
  text-decoration: none;
  text-shadow: none;
}

.form-submit:hover, input[type="submit"]:hover {
  background: #64a683;
  background-image: -webkit-linear-gradient(top, #64a683, #21a661);
  background-image: -moz-linear-gradient(top, #64a683, #21a661);
  background-image: -ms-linear-gradient(top, #64a683, #21a661);
  background-image: -o-linear-gradient(top, #64a683, #21a661);
  background-image: linear-gradient(to bottom, #64a683, #21a661);
  text-decoration: none;
  text-shadow: none;
}

  /* Introduction */

.webform-component--introduction li {
  margin-left: 20px;
  padding-left: 20px;
  padding-bottom: 10px;
  width: 655px;
}

  /* Provincial / Territorial Associations */

#edit-submitted-provincial-territorial-associations-civicrm-1-contact-1-cg3-custom-18 .form-item,
#edit-submitted-civicrm-1-participant-1-cg16-custom-87 .form-item {
  float: left;
  width: 10em;  
}

#edit-submitted-provincial-territorial-associations-civicrm-1-participant-1-cg16-custom-88 .form-item {
  float: left;
  padding-right: 2em;
}

.webform-component--provincial-territorial-associations--civicrm-1-participant-1-cg16-custom-88 {
  clear: both;
  padding-top: 1em;
}

#edit-submitted-civicrm-1-participant-1-cg16-custom-87 .form-item {
  margin-bottom: 2em;
  margin-top: 0;
  padding-top: 0;
}

.webform-component--packages--civicrm-1-participant-1-cg16-custom-148 {
  margin-bottom: 0;
}

.#edit-submitted-provincial-territorial-associations-civicrm-1-contact-1-cg3-custom-18 .form-item {
  float: left;
  width: 10em;  
}

  /* Contribution Page */

table caption, #wf-crm-billing-items caption {
  background: #439fd8;
  color: #fff;
  font-size: 1.8em;
  padding: 0.5em 12px;
  text-align: left;
  text-transform: uppercase;
}

table td {
  padding: 0.5em 8px;
  vertical-align: top;
}
  
table td.numeric {
  text-align: right;
}

table tr.subtotal td {
  background: #8f9fa9;
  color: #fff;
}

table tr.total td, #wf-crm-billing-total td {
  background: #439fd8;
  color: #fff;
}

.webform-component--civicrm-1-contribution-1-contribution-total-amount {
  display: none;
}

/* Indented Fields */
.webform-component--packages--civicrm-1-participant-1-cg16-custom-113, /* continuing education packages */
.webform-component--coned--civicrm-1-participant-1-cg16-custom-102, /* nanaimo design charrette - site selection */
.webform-component--events--civicrm-1-participant-1-cg16-custom-93, /* welcome reception - additional tickets */
.webform-component--events--civicrm-1-participant-1-cg16-custom-97, /* foundation lunch - additional tickets */
.webform-component--events--civicrm-1-participant-1-cg16-custom-100, /* convocation - additional tickets */
.webform-component--events--civicrm-1-participant-1-cg16-custom-114, /* post-convocation jazz reception - additional tickets */
.webform-component--events--civicrm-1-participant-1-cg16-custom-106, /* president's dinner - additional tickets */
.webform-component--donations--civicrm-1-participant-1-cg16-custom-116, /* donation amount */
.webform-component--events--information-additional-tickets-welcome-reception-included,
.webform-component--events--information-additional-tickets-welcome-reception-not-included,
.webform-component--events--additional-tickets-please-select-welcome-reception,
.webform-component--events--additional-tickets-please-select-foundation-lunch,
.webform-component--events--information-additional-tickets-foundation-lunch-included,
.webform-component--events--information-additional-tickets-foundation-lunch-not-included,
.webform-component--events--information-additional-tickets-post-convocation-jazz-reception-included,
.webform-component--events--information-additional-tickets-post-convocation-jazz-reception-not-included,
.webform-component--events--additional-tickets-please-select-post-convocation-jazz-reception,
.webform-component--events--information-additional-tickets-presidents-dinner-included,
.webform-component--events--information-additional-tickets-presidents-dinner-companion-included,
.webform-component--events--information-additional-tickets-presidents-dinner-not-included,
.webform-component--events--additional-tickets-please-select-presidents-dinner,
.webform-component--events--additional-tickets-please-select-high-school-awards,
.webform-component--events--information-lunch-saturday-companion-included {
  background-color: #F2FAFF;
  margin-bottom: 0em;
  margin-left: 24px;
  margin-top: 0em;
  padding: 12px;
}

/* Festival - Tickets */

.view-festival .view-header {
  margin-bottom: 1em;
}

.view-festival div.DTTT_container {
  margin-bottom: 2em;
}