/* This file will hold styles from global.css. This file is for CKEditor purposes only. */
/* Preferably, changes of styles in global.css should reflect the one in this file. */


/* TYPOGRAPHY & GENERAL LAYOUT */


@font-face {
	font-family: 'Open Sans-Italic';
	src: url('../fonts/OpenSans-Italic.ttf'), 
	url('../fonts/OpenSans-Italic.woff') format('woff'), url('../fonts/OpenSans-Italic.eot') format('oet');
} 

@font-face {
	font-family: 'Open Sans-Light';
	src: url('../fonts/OpenSans-Light.ttf') format('truetype'), 
	url('../fonts/OpenSans-Light.woff') format('woff'), url('../fonts/OpenSans-Light.eot') format('oet');
} 

@font-face {
	font-family: 'Open Sans-LightItalic';
	src: url('../fonts/OpenSans-LightItalic.ttf'), 
	url('../fonts/OpenSans-LightItalic.woff') format('woff'), url('../fonts/OpenSans-LightItalic.eot') format('oet');
} 

@font-face {
	font-family: 'Open Sans-Regular';
	src: url('../fonts/OpenSans-Regular.ttf'), 
	url('../fonts/OpenSans-Regular.woff') format('woff'), url('../fonts/OpenSans-Regular.eot') format('oet');
} 

@font-face {
	font-family: 'Open Sans-Semibold';
	src: url('../fonts/OpenSans-Semibold.ttf'), 
	url('../fonts/OpenSans-Semibold.woff') format('woff'), url('../fonts/OpenSans-Semibold.eot') format('oet');
} 

@font-face {
	font-family: 'News Gothic Std';
	src: url('../fonts/NewsGothicStd.ttf'), 
	url('../fonts/NewsGothicStd.woff') format('woff'), url('../fonts/NewsGothicStd.eot') format('eot');
}

@font-face {
	font-family: 'News Gothic Std-Bold';
	src: url('../fonts/NewsGothicStd-Bold.ttf'), 
	url('../fonts/NewsGothicStd-Bold.woff') format('woff'), url('../fonts/NewsGothicStd-Bold.eot') format('eot');
}

@font-face {
	font-family: 'News Gothic Std-Oblique';
	src: url('../fonts/NewsGothicStd-Oblique.ttf'), 
	url('../fonts/NewsGothicStd-Oblique.woff') format('woff'), url('../fonts/NewsGothicStd-Oblique.eot') format('eot');
}

@font-face {
	font-family: 'News Gothic Std-BoldOblique';
	src: url('../fonts/NewsGothicStd-BoldOblique.ttf'), 
	url('../fonts/NewsGothicStd-BoldOblique.woff') format('woff'), url('../fonts/NewsGothicStd-BoldOblique.eot') format('eot');
}

body {
	background: #fff;
	color: #333c42;
	background-size: 1922px;
	font-family: 'Open Sans-Regular';
	font-size: 14px;
}

table {
	border: none;
	width: 100%;
}

td p {
	margin-bottom:0px;
}

hr {
	background-color: #333c42;
}	

sup {
    vertical-align: super;
    font-size: smaller;
} 

h1, h5, h6 {
	letter-spacing: 0;
	font-weight: 600;
}

h2 {
	font-family: 'Open Sans-Semibold';
	font-size: 22px;
	font-weight: 100;	
}

h3 {
	font-family: 'Open Sans-Semibold';
	font-size: 16px;
	font-weight: 100;	
}

h4 {
	font-family: 'Open Sans-Semibold';
	font-size: 12px;
	font-weight: 100;
	text-transform: uppercase;	
}

blockquote {
	margin-left: 47px;
	border-left: solid 1px #333c42;
}


blockquote p {
	font-family:'Merriweather';
	font-style: italic;
	font-size: 13px;
	color: #989da0;
	padding-left: 17px;
	padding-right: 27px;
}

.caption {
	font-family: 'Open Sans-Light';
	font-size: 9px;
	color: #989da0;
	text-transform: uppercase;
}

.field-items ul li {
	font-family: 'Open Sans-Regular';
	margin-left: 20px;
	padding-left: 20px;
	padding-bottom: 10px;
}

.field-items ol li {
	font-family: 'Open Sans-Regular';
	margin-left: 20px;
	padding-left: 20px;
	padding-bottom: 10px;
}

a:link,
a:visited {
	color: #f04e23;
	text-decoration: none;
}

a:active,
a:focus,
a:hover {
	color: #f04e23;
	text-decoration: underline;
}

div.topsubmenu {
	font-family: 'News Gothic Std';
	background-color: #adb1b3;
	margin-top: -19px;
	color: #FFF;
}

div.topsubmenu a {
	color: #FFF;
}

div.topsubmenu p {
	padding: 10px;	
}