.crm-contribution-main-form-block div.crm-not-you-message {
  display: none;
}

#priceset div.label label {
  display:none;
}

div#priceset {
  opacity: 0;
}

div#membership {
  background-image: url('https://aghdev.raic.org/sites/all/modules/civicrm/i/loading-overlay.gif');
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  height: 100px;
}

.crm-container .email-5-section {
  padding-top: 200px;
}

.crm-container .form-layout-compressed.cividiscount td.label {
	width: auto;
}
#crm-container.crm-public .cividiscount input[type="text"] {
	vertical-align: text-bottom;
}

.crm-container table.form-layout-compressed.cividiscount {
width: 100%;
border-bottom: 1px solid #CFCEC3;
}

.crm-container table.form-layout-compressed.cividiscount td {
padding-bottom: 10px;
}
