/**
* CSS for the update billing address dialog that pops up
*/
#update-billing-dialog-1 .crm-container .crm-section .label, .crm-container-snippet
.crm-section .label {
    float: left;
    width: 30%;
    text-align: left;
    font-size: 1em;
}

#update-billing-dialog-1 .crm-container .crm-section .label, .crm-container-snippet
.crm-section .content {
    margin-left: 32%;
    max-width: 300px;
    width: 100%;
}

#update-billing-dialog-1 div.messages {
    width: auto;
    padding: 1em;
}
#update-billing-dialog-1 #update-billing-dialog-billing-block {
    background-color: lightblue;
}
/**
* Clean up appearance
*/
#Main .price-set-option-content label {
    margin-left: 0.3em;
}