/* This file will hold styles for the mobile version of your website (mobile first). */
/* This also can include ANY global CSS that applies site-wide. Unless overwritten by a more specific style rule, CSS declarations in global.css will apply site-wide. */


/* TYPOGRAPHY & GENERAL LAYOUT */


@font-face {
	font-family: 'Open Sans-Italic';
	src: url('../fonts/OpenSans-Italic.ttf'), 
	url('../fonts/OpenSans-Italic.woff') format('woff'), url('../fonts/OpenSans-Italic.eot') format('eot');
} 

@font-face {
	font-family: 'Open Sans-Light';
	src: url('../fonts/OpenSans-Light.ttf') format('truetype'), 
	url('../fonts/OpenSans-Light.woff') format('woff'), url('../fonts/OpenSans-Light.eot') format('eot');
} 

@font-face {
	font-family: 'Open Sans-LightItalic';
	src: url('../fonts/OpenSans-LightItalic.ttf'), 
	url('../fonts/OpenSans-LightItalic.woff') format('woff'), url('../fonts/OpenSans-LightItalic.eot') format('eot');
} 

@font-face {
	font-family: 'Open Sans-Regular';
	src: url('../fonts/OpenSans-Regular.ttf'), 
	url('../fonts/OpenSans-Regular.woff') format('woff'), url('../fonts/OpenSans-Regular.eot') format('eot');
} 

@font-face {
	font-family: 'Open Sans-Semibold';
	src: url('../fonts/OpenSans-Semibold.ttf'), 
	url('../fonts/OpenSans-Semibold.woff') format('woff'), url('../fonts/OpenSans-Semibold.eot') format('eot');
} 

@font-face {
	font-family: 'News Gothic Std';
	src: url('../fonts/NewsGothicStd.ttf'), 
	url('../fonts/NewsGothicStd.woff') format('woff'), url('../fonts/NewsGothicStd.eot') format('eot');
}

@font-face {
	font-family: 'News Gothic Std-Bold';
	src: url('../fonts/NewsGothicStd-Bold.ttf'), 
	url('../fonts/NewsGothicStd-Bold.woff') format('woff'), url('../fonts/NewsGothicStd-Bold.eot') format('eot');
}

@font-face {
	font-family: 'News Gothic Std-Oblique';
	src: url('../fonts/NewsGothicStd-Oblique.ttf'), 
	url('../fonts/NewsGothicStd-Oblique.woff') format('woff'), url('../fonts/NewsGothicStd-Oblique.eot') format('eot');
}

@font-face {
	font-family: 'News Gothic Std-BoldOblique';
	src: url('../fonts/NewsGothicStd-BoldOblique.ttf'), 
	url('../fonts/NewsGothicStd-BoldOblique.woff') format('woff'), url('../fonts/NewsGothicStd-BoldOblique.eot') format('eot');
}



body {
	background: #fff url('../images/raic-bg/bg_01.jpg') center top no-repeat; /* set a default image for those with js disabled */
	color: #333c42;
	background-size: 1922px;
	font-family: 'Open Sans-Regular';
	font-size: 14px;
}

table {
	border: none;
	width: 100%;
}

td p {
	margin-bottom:0px;
}

tr:hover td {
	background-color: transparent;
}

hr {
	background-color: #333c42;
}	

sup {
    vertical-align: super;
    font-size: smaller;
} 

#zone-user-wrapper {
	background-color: #98cb4f;
}
#zone-menu, 
#zone-footer-wrapper {
	background-color: #00a651;
	color: #fff;
}

#zone-header-wrapper {
	margin-bottom: -2px;
}

h1 {
	font-family: 'News Gothic Std';
	color: #fff;
	font-size: 36px;
	background-color: #00a651;
	padding: 38px 21px 8px 21px;
	font-weight: lighter;
}

h5, h6 {
	letter-spacing: 0;
	font-weight: 600;
}

h2 {
	font-family: 'Open Sans-Semibold';
	font-size: 22px;
	font-weight: 100;	
}

h3 {
	font-family: 'Open Sans-Semibold';
	font-size: 16px;
	font-weight: 100;	
}

h4 {
	font-family: 'Open Sans-Semibold';
	font-size: 12px;
	font-weight: 100;
	text-transform: uppercase;	
}

blockquote {
	margin-left: 47px;
	border-left: solid 1px #333c42;
}


blockquote p {
	font-family:'Merriweather';
	font-style: italic;
	font-size: 13px;
	color: #989da0;
	padding-left: 17px;
	padding-right: 27px;
}

.caption {
	font-family: 'Open Sans-Light';
	font-size: 9px;
	color: #989da0;
	text-transform: uppercase;
}

.field-items ul li {
	font-family: 'Open Sans-Regular';
	margin-left: 20px;
	padding-left: 20px;
	padding-bottom: 10px;
}

.field-items ol li {
	font-family: 'Open Sans-Regular';
	margin-left: 20px;
	padding-left: 20px;
	padding-bottom: 10px;
}

a:link,
a:visited {
	color: #f04e23;
	text-decoration: none;
}

a:active,
a:focus,
a:hover {
	color: #f04e23;
	text-decoration: underline;
}

/* Invisible elements */

#block-search-form h2.block-title,
#block-menu-menu-top-menu h2.block-title,
#block-nice-menus-1 h2.block-title,
#block-nice-menus-2 h2.block-title,
#block-system-user-menu h2.block-title,
#block-menu-menu-main-menu-new h2.block-title,
#block-menu-menu-footer-menu h2.block-title,
#block-menu-block-1 h2.block-title,
#block-block-2 h2.block-title,
#block-block-8 h2.block-title,
#block-user-login h2.block-title,
#block-locale-language h2.block-title,
#block-views-79b0e7291601aaebc04392716032b492 h2.block-title, /* News Highlights */
#block-views-34d82aff2074e558555e3b0c74f948b2 h2.block-title, /* News Highlights French */
#block-search-form #edit-submit,
.breadcrumb {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px);
	clip: rect(1px, 1px, 1px, 1px);
	overflow: hidden;
	height: 1px;
}

/*

div.views_slideshow_main {
	float:left;
	height: 500px;
}

div.views-slideshow-controls-bottom {
	float:right;
	width: 50px;
	height: 50px;
}
*/


/* Menus */

.block-menu ul {
	margin: auto;
	list-style: none;
	list-style-type: none;
	list-style-image: none;
}

.block-menu ul li.leaf {
	display: inline;
	margin: 0;
	padding: 0px 6px 0px 6px;
	list-style: none;
	list-style-type: none;
	list-style-image: none;
	border-left: solid 1px #fff;
}

.block-menu ul li.leaf a:link,
.block-menu ul li.leaf a:visited {
	color: #fff;
	text-decoration: none;
}

.block-menu ul li.leaf a:active,
.block-menu ul li.leaf a:focus,
.block-menu ul li.leaf a:hover {
	color: #f04e23;
	text-decoration: underline;
}


/* USER ZONE */


/* Top Menu */

body.lang-fr #block-nice-menus-1  {
	font-family: 'Open Sans-Regular';
	font-size: 11px; 
	-webkit-text-size-adjust: none;
	padding: 4px 0px 0px 0px;
	text-align: right;
	text-transform: uppercase;
	color: #fff;
	position: absolute;
	left: 488px;
	width: 285px;
}

body.lang-en #block-nice-menus-1  {
	font-family: 'Open Sans-Regular';
	font-size: 11px; 
	-webkit-text-size-adjust: none;
	padding: 4px 0px 0px 0px;
	text-align: right;
	text-transform: uppercase;
	color: #fff;
	position: absolute;
	left: 538px;
	width: 250px;
}

#block-nice-menus-1 ul li.first {
	border-left-color: #98cb4f;
}

#block-nice-menus-1 ul li.last {
	border-right-color: #FFF;
}

#block-nice-menus-1 ul li {
	padding: 0px 5px 0px 5px;
	background-color: #98cb4f;
	border-bottom-color: #98cb4f;
	border-top-color: #98cb4f;
	border-right-color: #98cb4f;
	border-left-color: #FFF;
}

#block-nice-menus-1 ul li a { 
	color: #FFF;
	text-decoration: none;
	display: inline;
}

#block-nice-menus-1 ul li a:hover { 
	color: #FFF;
	text-decoration: underline;
}

#block-nice-menus-1 .nolink { 
	padding: 5px 5px 5px 5px;
}

#block-nice-menus-1 .nolink li { 
	padding: 5px 0px 5px 5px;
}

#block-nice-menus-1 .nolink:hover { 
	text-decoration: underline;
	color: #f04e23;
	cursor: pointer;
}

#block-nice-menus-1 ul li li {
	text-align: left;
	padding: 3px 0px 2px 6px;
	background-color: #989da0;
}

#block-nice-menus-1 ul li li:hover {
	background-color: #333a42;
	color: #FFF;
	text-decoration: none;
}

#block-nice-menus-1 ul li li a:hover {
	text-align: left;
	color: #FFF;
	border: none;
	text-decoration: none;
}

#block-nice-menus-1 ul li li.first {
	border-left-color: #989da0;
}

#block-nice-menus-1 ul li li.last {
	border-right-color: #989da0;
}

#block-nice-menus-1 ul li ul {
	text-align: left;
	border-top: 10px solid #989da0;	
	border-bottom: 10px solid #989da0;
	border-left: 10px solid #989da0;	
	border-right: 10px solid #989da0;	
}

#block-nice-menus-1 ul li ul li {
	text-align: left;
	border-color: #989da0;
}

#block-nice-menus-1 ul.nice-menu-down li.menuparent {
    background: none;
}



#region-user-second {
	margin-right: 0px;
	height: 25px;
	width: 400px;
}

#region-user-first {
	margin-right: 0px;
	height: 25px;
}

body.lang-en #block-user-login {
	background-color: #f04e23;
	color: #333c42;
	height: 50px;
	margin: 0 0 -20px 0;
	width: 177px;
}

body.lang-fr #block-user-login {
	background-color: #f04e23;
	color: #333c42;
	height: 50px;
	margin: 0px 0px -20px 30px;
	width: 185px;
}

#block-user-login a#toboggan-login-link {
	font-family: 'Open Sans-Regular';
	background-color: #333c42; 
	font-size: 13px;
	font-weight: bold;
	color: #bfcd31;
	display: inline-block;
	padding: 5px 15px;
	margin: 5px 8px 0px 0px;
	text-decoration: none;
	text-transform: uppercase;
}

/* "User menu" block for Drupal user menu */
 
body.lang-en #block-system-user-menu {
	font-family: 'Open Sans-Regular';
	background-color: #bfcd31;
	position: absolute;
	right: -60px;
	width: 380px;	
	font-size: 11px; 
	padding: 5px 0px 4px 20px;
	text-align: right;
	text-transform: uppercase;
	height: 16px;
	color: #000;
}

body.lang-fr #block-system-user-menu {
	font-family: 'Open Sans-Regular';
	background-color: #bfcd31;
	position: absolute;
	right: -60px;
	width: 380px;	
	font-size: 11px; 
	padding: 5px 0px 4px 20px;
	text-align: right;
	text-transform: uppercase;
	height: 16px;
	color: #000;
}

body.lang-en #block-system-user-menu ul.menu {
	margin-left: 50px;
	text-align: right;
}

body.lang-fr #block-system-user-menu ul.menu {
	margin-left: 5px;
	text-align: right;
}

body.lang-en #block-system-user-menu ul li.leaf {
	display: inline;
	margin: 0;
	padding: 0px 8px 0px 10px;
	border-left: solid 1px #000;
}

body.lang-fr #block-system-user-menu ul li.leaf {
	display: inline;
	margin: 0;
	padding: 0px 8px 0px 10px;
	border-left: solid 1px #000;
}

body.lang-en #block-system-user-menu ul li.first {
	padding-left: 0;
	padding-right: 3;
	border-left: none;
}

body.lang-fr #block-system-user-menu ul li.first {
	padding-left: 0;
	padding-right: 3;
	border-left: none;
}

#block-system-user-menu ul li a {
	list-style: none;
	list-style-type: none;
	list-style-image: none;
	display: inline-block;
	padding: 0px 1px 0px 1px;
	color: #000; 	
}

#block-system-user-menu ul li a:hover {
	color: #f04e23;
	text-decoration: underline;
}

/* Login Toboggan */

#toboggan-login-link-container {
	position: absolute;
	float: right;
	margin-left: 9px;
	padding: 6px 10px;
	background-color: #f04e23;
	line-height: 15px;
	z-index: 1002;
}

#toboggan-login {
	background-color: #bfcd31;
	border-left: 0;
	/*border-top: solid 1px #000;*/
	color: #333c42;
	margin-right: -60px;
	margin-top: 3px;
	padding: 10px 10px 6px 10px;
	position: absolute;
	right: 0;
	top: 46px;
	width: 380px;
	height: 85px;
	z-index: 1000;
}

#toboggan-login .form-item, #toboggan-login .form-actions {
	margin-top: 0;
	margin-bottom: 0;
}

#toboggan-login label {
	font-family: 'Open Sans-Semibold';
	font-size: 14px;
	float: left;
	clear: both;
	margin: 0px 12px 3px 13px;
	font-weight:100;
}

#toboggan-login .form-text {
	margin-left: -80px;
	float: right;
	color: #486b7f;
	/*-webkit-border-radius: 5px;
	border-radius: 5px;*/
	border: solid 1px #b0a97b;
	width: 210px;
	height: 25px;
}

#toboggan-login .item-list {
	clear: both;
	float: right;
	text-align: right;
	/* font-size: 0.8em; */
	width: 150px;
}

body.lang-en #toboggan-login .form-actions input {
	font-family: 'Open Sans-Regular';
	width: 90px;
	height: 25px;
	font-size: 14px;
	text-transform: uppercase;
	border: none;
    display: block;
    background: #f04e23;
    color: #f04e23;
    text-align: center;
    border-radius: 0px;
	padding: 4px 13px;
	position: absolute;
	top: 65px;
	left: 20px;
	text-shadow: 0px 0px 0px #333c42;
    /*box-shadow: 0px 3px 1px #2075aa;
  	-webkit-transition: all 0.15s linear;
	-moz-transition: all 0.15s linear;
	transition: all 0.15s linear;*/
}

body.lang-fr #toboggan-login .form-actions input {
	font-family: 'Open Sans-Regular';
	width: 130px;
	height: 25px;
	font-size: 14px;
	text-transform: uppercase;
	border: none;
    display: block;
    background: #333c42;
    color: #bfcd31;
    text-align: center;
    border-radius: 0px;
	padding: 4px 13px;
	position: absolute;
	top: 65px;
	left: 20px;
	text-shadow: 0px 0px 0px #333c42;
    /*box-shadow: 0px 3px 1px #2075aa;
  	-webkit-transition: all 0.15s linear;
	-moz-transition: all 0.15s linear;
	transition: all 0.15s linear;*/
}

#toboggan-login .item-list ul {
	margin: 0;
	display: block;
}
#toboggan-login .item-list li.last {
	margin-top: -10px;	
}

body.lang-en #toboggan-login .item-list a {
	font-family: 'Open Sans-Regular';
	color: #333c42;
	text-transform:uppercase;
	text-decoration: none;
	font-size: 10px;
	text-align: right;
	width: 175px;
	padding-bottom: -10px;	
}

body.lang-fr #toboggan-login .item-list a {
	font-family: 'Open Sans-Regular';
	color: #333c42;
	text-transform:uppercase;
	text-decoration: none;
	font-size: 10px;
	position: absolute;
	text-align: right;
	top: 73px;
	left: 195px;
	width: 197px;	
}

#toboggan-login .item-list a:hover {
	text-decoration: underline;
	color: #f04e23;
}

#toboggan-login #edit-actions.form-actions {
	clear: left;
	font-size: 0.9em;
}

#block-logintoboggan-logintoboggan-logged-in {
	text-align: right;
}

#block-logintoboggan-logintoboggan-logged-in a,
#block-logintoboggan-logintoboggan-logged-in a:hover {
	color: #F5D161;
}

#region-user-second .block {
	float: right;
	margin-left:-1px;
}

/* Festival Registration - Login */
#block-block-15 {
    margin-top: 2em;
}

#block-block-15 h2 {
    margin-bottom: 1em;
}

/* Join */

#block-block-62 {
	background-color: #bfcd31;
	font-weight: 600;
	height: 50px;
	margin: 0 -59px -20px 0;
	padding: 0 10px;
	width: 203px;
}

#block-block-62 img {
	position: absolute;
	right: -60px;
    top: 0px;
    z-index: 1003;
}

#block-block-62 a {
	text-decoration: none;
	width: 200px;
	height: 50px;
}

#block-block-62 .line1 {
	margin: 0px 0px 0px -6px;
}

#block-block-62 .line1 a {
	font-size: 1.0em;
	color: #333c42;
	width: 200px;
	height: 50px;
}

#block-block-62 .line2 {
	font-size: 1.7em;
	margin: -9px 0px 0px -32px;
	text-align: right;
}

#block-block-62 .line2 a {
	color: #fff;
}

/* Join French */

#block-block-71 {
	background-color: #bfcd31;
	font-weight: 600;
	height: 50px;
	margin: 0 -39px -20px 0;
	padding: 0 10px;
	width: 175px;
}

#block-block-71 img {
	position: absolute;
	right: -60px;
    top: 0px;
    z-index: 1003;
}

#block-block-71 a {
	text-decoration: none;
	width: 175px;
	height: 50px;
}

#block-block-71 .line1 {
	margin: 0px 0px 0px -6px;
}

#block-block-71 .line1 a {
	font-size: 1.0em;
	color: #333c42;
	width: 175px;
	height: 50px;
}

#block-block-71 .line2 {
	font-size: 1.7em;
	margin: -9px 0px 0px -32px;
	text-align: right;
}

#block-block-71 .line2 a {
	color: #fff;
}


/* User menu */

#region-user-second ul.menu {
	margin-right: 1em;
}

#region-user-second ul.menu li.leaf,
#region-user-second ul.menu li.collapsed,
#region-user-second ul.menu li.expanded {
	margin: 0;
	padding: 0.2em 0.5em 0 0.5em;
	list-style-type: none;
	list-style-image: none;
	display: inline;
	/*border-right: solid 2px #7BB8DA;*/
}

#region-user-second ul.menu li.leaf.last {
	border-right: 0;
}

/* BRANDING ZONE */

body.lang-en #zone-branding {
	background: url(../images/masthead.jpg);
	height: 195px;
}

body.lang-fr #zone-branding {
	background: url(../images/masthead_f.jpg);
	height: 195px;
}

#zone-branding_old {
	background: -moz-linear-gradient(left,  rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* IE10+ */
	background: linear-gradient(to right,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 */
}

.region-branding-inner {
	padding: 36px 35px 25px 35px;
}

.branding-data {
	float: left;
}

div.logo-img {
	float: left;
	margin-left: 114px;
	margin-top: -16px;
}

/* MENU ZONE (Mega) */

.megamenu-skin-raic {
	background-color:#333a42;
}

.megamenu-skin-raic .megamenu-parent-title {
	font-family: 'Open Sans-Light';
	font-size: 15px;
	border-right: solid 1px #FFF;
	height: 29px;
	text-decoration: none;
	letter-spacing: .2px;
	display: inline-block;
	padding-top: 11px;
}

body.lang-en .megamenu-skin-raic .megamenu-parent-title .nolink {
	padding: 0px 26px 0px 26px;	
	cursor: pointer;
}

body.lang-fr .megamenu-skin-raic .megamenu-parent-title .nolink {
	padding: 0px 20px 0px 20px;	
	cursor: pointer;
}

.megamenu-skin-raic .megamenu-parent-title ul li .nolink {
	padding: 0px 26px 0px 26px;	
	cursor: pointer;
	background-color:#FFF;
}

.megamenu-skin-raic .last .megamenu-parent-title {
	border-right: none;
}

.megamenu-skin-raic .megamenu-parent-title a {
	color: #fff;
	padding: 0px 26px 0px 26px;	
	text-decoration: none;
}

.megamenu-skin-raic .megamenu-parent-title a:hover {
	text-decoration: none;
	background-color: transparent;	
	padding: 8px 26px 10px 26px;		
}

.megamenu-skin-raic .active .megamenu-parent-title {
	text-decoration: none;
	background-color: #f04e23;			
}

.megamenu-skin-raic .hovering .megamenu-parent-title {
	background-color: #f04e23;	
}

.megamenu-skin-raic .megamenu-bin {
	color:#989da0;
	background-color:#989da0;
	padding: 20px 20px 20px 20px;
	margin-top: 1px;
}

.megamenu-skin-raic .megamenu-bin .nolink {
	list-style-image: none;
	padding: 0px 0px 0px 25px;
	font-size: 15px;
	font-family: 'Open Sans-Regular';
	color: #fff;
}

.megamenu-skin-raic .megamenu-bin .separator {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px);
	clip: rect(1px, 1px, 1px, 1px);
	overflow: hidden;
	height: 1px;
}

.megamenu-skin-raic .megamenu-slot {
	margin-right: 5px;
}

.megamenu-skin-raic .megamenu-items {
	font-family: 'Open Sans-light';
	font-size: 14px;
	padding: 6px 0px 0px 33px;
}

.megamenu-skin-raic .megamenu-item {
	padding: 5px 0px 5px 0px;
}

.megamenu-skin-raic .megamenu-items a { 
	color: #fff;
}

.megamenu-skin-raic .megamenu-items a:hover { 
	color: #fff;
	text-decoration: none;
}

.megamenu-skin-raic .megamenu-items li:hover { 
	color: #fff;
	text-decoration: none;
	background-color: #333c42;
	margin-left: -8px;
	padding-left: 8px;
}

.megamenu-skin-raic .megamenu-items li a:active {
	text-decoration: none;
	background-color: #333c42;		
}

.megamenu-skin-raic .megamenu-slot-title,
.megamenu-skin-raic .megamenu-slot-title a {
	color:#fff;
	
}

.megamenu-skin-raic .megamenu-slot-title a:hover {
	text-decoration: none;
}

.megamenu-skin-raic .megamenu-link {

}

/* CONTENT ZONE */

#zone-content {
	background-color: #fff;
}

.front #breadcrumb,
.page-node-101474 #breadcrumb {
	display: none;
}

#breadcrumb .breadcrumb {
	padding: 0 0 0 40px;
}

.region-content-inner {
	padding-right: 20px;
	padding-top: 0px;
	margin-left: -10px;
}

h1#page-title {
	font-family: 'News Gothic Std';
	color: #fff;
	font-size: 36px;
	background-color: #00a651;
	padding: 38px 0px 8px 21px;
	font-weight: lighter;
}


/* Sidebar */


/* ShareThis */

#region-sidebar-first .block-sharethis {
	padding-top: 5px;
}

#region-sidebar-first .sharethis-wrapper {
	margin-left: -12px;
}


/* Sidebar Left (Menu Block) */

#region-sidebar-first h2 {
	color:#333C42;
}

#region-sidebar-first .block-menu-block-1 {
	font-family: 'News Gothic Std';
	font-size: 15px;
	background: url(../images/menu_bg.jpg) no-repeat;
	margin-top: 0px;
	margin-left: 0px;
	width: 210px;
	height: 615px;
	background-color: #00A651;
}

#region-sidebar-first .block-menu-block-1 ul.menu {
	padding-top: 20px;
	padding-right: 12px;
	padding-left: 40px;
	text-align: right;
	line-height: 1.1;
}

#region-sidebar-first .block-menu-block-1 ul.menu li {
	list-style-type: none;
	list-style-image: none;
	padding-bottom: 9px;
}

#region-sidebar-first .block-menu-block-1 ul.menu li.active-trail {
	list-style-type: none;
	list-style-image: none;
	font-size: 15px;
}

#region-sidebar-first .block-menu-block-1 ul li ul li a.active-trail.active {
	list-style-image: none;
	list-style-type: none;	
	font-size: 12px;
}

#region-sidebar-first .block-menu-block-1 ul.menu a {
	color: #FFF; 	
}

#region-sidebar-first .block-menu-block-1 .separator {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px);
	clip: rect(1px, 1px, 1px, 1px);
	overflow: hidden;
	height: 1px;
}

#region-sidebar-first .block-menu-block-1 ul li.expanded {
	margin-left: 10px;
	list-style-image: none;
	list-style-type: none;
	font-size: 13px;
}

#region-sidebar-first .block-menu-block-1 .active-trail .nolink {
	font-size: 14px;
}


#region-sidebar-first h2.block-title {
	font-family: 'Open Sans-Regular';
	font-size: 16px;
	
}

.region-sidebar-first-inner {
	margin: 0px 0px 0px -10px;
}


/* Sidebar Right */

.region-sidebar-second-inner {
	margin: 40px 0px 0px 0px;
}

#region-sidebar-second .block {
	border-bottom: 3px solid #00A651;
	margin-bottom: 2em;
}

#region-sidebar-second h2.block-title {
	font-family: 'Open Sans-Light';
	font-weight: 100;
	background-color: #00A651;
	color: #fff;
	font-size: 15px;
	letter-spacing: 1px;
	padding: 4px 11px;
	text-transform: uppercase;
}

/*  Search */

#region-sidebar-second #block-search-form {
	border-bottom: none;
	padding-bottom: 0px;
}

#block-search-form #edit-search-block-form--2 {
	background: #e0e1e2 url('../images/search.jpg') right top no-repeat;
	height: 30px;
	width: 240px;
	width: 100%;
	border: none;
	color: #333c42;
	font-size: 14px;
}

#region-sidebar-second #block-search-form .form-actions input {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px);
	clip: rect(1px, 1px, 1px, 1px);
	overflow: hidden;
	height: 1px;
}

/* Latest News */

#block-views-7b4b3a5ffe8fd6b691e4d382d48ed1c7 .views-field-body p {
	font-size: 12px;
	color: #333c42;
	font-family: 'Open Sans-Regular';
	padding-top: 4px;
	height: 40px;
}

#block-views-7b4b3a5ffe8fd6b691e4d382d48ed1c7 .content ul,
#block-views-7b4b3a5ffe8fd6b691e4d382d48ed1c7 .view-footer p {
	margin: 0;
}

#block-views-7b4b3a5ffe8fd6b691e4d382d48ed1c7 .content li,
#block-views-7b4b3a5ffe8fd6b691e4d382d48ed1c7 .view-footer {
	font-family: 'Open Sans-Semibold';
	color: #f04e23;
	font-size: 14px;
	margin: 0;
	padding: 6px 10px;
	border-bottom: 1px solid #00A651;
}

#block-views-7b4b3a5ffe8fd6b691e4d382d48ed1c7 .content li a,
#block-views-7b4b3a5ffe8fd6b691e4d382d48ed1c7 .view-footer a {
	color: #f04e23;
	text-decoration: none;
}

#block-views-7b4b3a5ffe8fd6b691e4d382d48ed1c7 .content li a:focus,
#block-views-7b4b3a5ffe8fd6b691e4d382d48ed1c7 .content li a:hover,
#block-views-7b4b3a5ffe8fd6b691e4d382d48ed1c7 .view-footer a:focus,
#block-views-7b4b3a5ffe8fd6b691e4d382d48ed1c7 .view-footer a:hover {
	text-decoration: underline;
}

/* Latest News French */

#block-views-be4a0fc63e1ada5c74763e1d120e5318 .content ul,
#block-views-be4a0fc63e1ada5c74763e1d120e5318 .view-footer p {
	margin: 0;
}

#block-views-be4a0fc63e1ada5c74763e1d120e5318 .content li,
#block-views-be4a0fc63e1ada5c74763e1d120e5318 .view-footer {
	font-family: 'Open Sans-Semibold';
	color: #f04e23;
	font-size: 14px;
	margin: 0;
	padding: 6px 10px;
	border-bottom: 1px solid #333C42;
}

#block-views-be4a0fc63e1ada5c74763e1d120e5318 .content li a,
#block-views-be4a0fc63e1ada5c74763e1d120e5318 .view-footer a {
	color: #f04e23;
	text-decoration: none;
}

#block-views-be4a0fc63e1ada5c74763e1d120e5318 .content li a:focus,
#block-views-be4a0fc63e1ada5c74763e1d120e5318 .content li a:hover,
#block-views-be4a0fc63e1ada5c74763e1d120e5318 .view-footer a:focus,
#block-views-be4a0fc63e1ada5c74763e1d120e5318 .view-footer a:hover {
	text-decoration: underline;
}

/* Tweets */

#region-sidebar-second #block-twitter-block-1 {
	margin-top: 0px;
}

#region-sidebar-second #block-twitter-block-1 iframe {
	height: 450px;
}

#region-sidebar-second #block-twitter-block-1 h2.block-title {
	background: #00a651 url('../images/tweets.jpg') 0 -1px no-repeat;
	padding: 3px 40px;
}

/* Facebook Event */

#region-sidebar-second #block-block-12,
#region-sidebar-second #block-block-13 {
	margin-top: 0px;
	font-size: 14px;
}

#region-sidebar-second #block-block-12 h2.block-title,
#region-sidebar-second #block-block-13 h2.block-title {
	background: #00a651 url('../images/facebook_white.png') no-repeat 5px ;
	padding: 3px 40px;
	margin-bottom: 20px;	
}

/* FOOTER ZONE */

#zone-footer-wrapper {
	height: 150px;
}

#zone-footer {
	background: url('../images/footer_seal.jpg') no-repeat 160px 0;
	height: 135px;
	padding-top: 15px;
}

.region-footer-first-inner {
	padding-left: 40px;
}

.region-footer-second-inner {
	margin-right: -22px;
	text-align: right;
}

/* Contact Info */

#block-block-2 h3 {
	font-family: 'Open Sans-Regular';
	font-size: 17.5px;
	margin-bottom: 5px;
	font-weight: 100;
	margin-top: 10px;
}

#block-block-2 h3 strong {
	font-weight: 600;
}

#block-block-2 .column a {
	color: #fff;
	text-decoration: none;
}

#block-block-2 .column a:hover {
	color: #f04e23;
	text-decoration: underline;
}

#block-block-2 .column {
	font-family: 'Open Sans-Regular';
	float: left;
	font-size: 14px;
	line-height: 1.3;
	padding-right: 2.5em;
}

/* Contact Info French */

#block-block-8 h3 {
	font-family: 'Open Sans-Regular';
	font-size: 17.5px;
	margin-bottom: 5px;
	font-weight: 100;
	margin-top: 10px;
}

#block-block-8 h3 strong {
	font-weight: 600;
}

#block-block-8 .column a {
	color: #fff;
	text-decoration: none;
}

#block-block-8 .column a:hover {
	color: #f04e23;
	text-decoration: underline;
}

#block-block-8 .column {
	font-family: 'Open Sans-Regular';
	float: left;
	font-size: 14px;
	line-height: 1.3;
	padding-right: 2.5em;
}

/* Social media icons */

#block-block-4 h2 {
	font-family: 'Open Sans-Semibold';
	font-size: 15px;
	margin-bottom: 5px;
	font-weight: 100;
}

#block-block-4 ul {
	margin: 0 0 5px 0;
	padding: 0;
	list-style: none;
	list-style-type: none;
	list-style-image: none;
}

#block-block-4 ul li {
	display: inline;
	height: 30px;
	width: 30px;
	margin: 0 0 0 10px;
	padding: 0;
	list-style: none;
	list-style-type: none;
	list-style-image: none;
}

#block-block-4 .content a { 
	background: url('../images/social-media-sprites.png') no-repeat;
	display: inline-block;
	width: 30px; 
	height: 30px; 
} 

#block-block-4 .content a.sprite-youtube { 
	background-position: 0 -120px; 
} 

#block-block-4 .content a.sprite-facebook { 
	background-position: 0 0; 
} 

#block-block-4 .content a.sprite-instagram { 
	background-position: 0 -40px; 
} 

#block-block-4 .content a.sprite-linkedin { 
	background-position: 0 -80px; 
} 

#block-block-4 .content a.sprite-twitter { 
	background-position: 0 -160px; 
} 

/* Social media icons French */

#block-block-10 h2 {
	font-family: 'Open Sans-Semibold';
	font-size: 15px;
	margin-bottom: 5px;
	font-weight: 100;
}

#block-block-10 ul {
	margin: 0 0 5px 0;
	padding: 0;
	list-style: none;
	list-style-type: none;
	list-style-image: none;
}

#block-block-10 ul li {
	display: inline;
	height: 30px;
	width: 30px;
	margin: 0 0 0 10px;
	padding: 0;
	list-style: none;
	list-style-type: none;
	list-style-image: none;
}

#block-block-10 .content a { 
	background: url('../images/social-media-sprites.png') no-repeat;
	display: inline-block;
	width: 30px; 
	height: 30px; 
} 

#block-block-10 .content a.sprite-youtube { 
	background-position: 0 -120px; 
} 

#block-block-10 .content a.sprite-facebook { 
	background-position: 0 0; 
} 

#block-block-10 .content a.sprite-instagram { 
	background-position: 0 -40px; 
} 

#block-block-10 .content a.sprite-linkedin { 
	background-position: 0 -80px; 
} 

#block-block-10 .content a.sprite-twitter { 
	background-position: 0 -160px; 
} 

/* Footer menu */

#block-menu-menu-footer-menu {
	font-family: 'Open Sans-Regular';
	font-size: 13px;
	margin-bottom: 10px;
}

#block-menu-menu-footer-menu ul li {
	float: right;
}

#block-menu-menu-footer-menu ul li.first {
	padding-right: 0;
}

#block-menu-menu-footer-menu ul li.last {
	border-left: none;
}


/* Copyright */

#block-block-3 {
	font-family: 'Open Sans-Regular';
	font-size: 12px;
	margin-top: -8px;
	margin-bottom: -8px;
}

/* Copyright French */

#block-block-9 {
	font-family: 'Open Sans-Regular';
	font-size: 12px;
	margin-top: -8px;
	margin-bottom: -8px;
}

/* Masquerade */

#block-masquerade-masquerade {
	padding-top: 25px;
	padding-left: 10px;
	color: #fff;
}

#block-masquerade-masquerade h2 {
	font-size: 1.2em;
	margin-bottom: 10px;
}

/* FRONT PAGE */

/* NEWS PAGE */

.page-node-101586 #block-views-17cbbf4c802b9f75880916910cabf213 .views-row {
	border-bottom: 2px solid #909599;
	padding-bottom: 20px;
	margin-bottom: 20px;
}

.page-node-101586 #block-views-17cbbf4c802b9f75880916910cabf213 .views-field-field-photo {
	float: left;
	margin-right: 40px;
}

.page-node-101586 #block-views-17cbbf4c802b9f75880916910cabf213 .views-field-title {
	color: #333c42;
	font-size: 1.3em;
	font-weight: 600;
	margin-bottom: 5px;
}

.page-node-101586 #block-views-17cbbf4c802b9f75880916910cabf213 .views-field-title a {
	color: #333c42;
	text-decoration: none;
}

.page-node-101586 #block-views-17cbbf4c802b9f75880916910cabf213 .views-field-body a {
	color: #f04e23;
	text-decoration: none;
}

.page-node-101586 #block-views-17cbbf4c802b9f75880916910cabf213 .views-field-title a:focus,
.page-node-101586 #block-views-17cbbf4c802b9f75880916910cabf213 .views-field-title a:hover,
.page-node-101586 #block-views-17cbbf4c802b9f75880916910cabf213 .views-field-body a:focus,
.page-node-101586 #block-views-17cbbf4c802b9f75880916910cabf213 .views-field-body a:hover {
	text-decoration: underline;
}

/* NEWS PAGE French*/

.page-node-101874 #block-views-df18af71db76150d4775acb31ffb42ed .views-row {
	border-bottom: 2px solid #909599;
	padding-bottom: 20px;
	margin-bottom: 20px;
}

.page-node-101874 #block-views-df18af71db76150d4775acb31ffb42ed .views-field-field-photo {
	float: left;
	margin-right: 40px;
}

.page-node-101874 #block-views-df18af71db76150d4775acb31ffb42ed .views-field-title {
	color: #333c42;
	font-size: 1.3em;
	font-weight: 600;
	margin-bottom: 5px;
}

.page-node-101874 #block-views-df18af71db76150d4775acb31ffb42ed .views-field-title a {
	color: #333c42;
	text-decoration: none;
}

.page-node-101874 #block-views-df18af71db76150d4775acb31ffb42ed .views-field-body a {
	color: #f04e23;
	text-decoration: none;
}

.page-node-101874 #block-views-df18af71db76150d4775acb31ffb42ed .views-field-title a:focus,
.page-node-101874 #block-views-df18af71db76150d4775acb31ffb42ed .views-field-title a:hover,
.page-node-101874 #block-views-df18af71db76150d4775acb31ffb42ed .views-field-body a:focus,
.page-node-101874 #block-views-df18af71db76150d4775acb31ffb42ed .views-field-body a:hover {
	text-decoration: underline;
}

/* Language switcher */

#block-locale-language {
	font-family: 'Open Sans-Regular';
	font-size: 11px; 
	text-transform: uppercase;
	text-align: left;
	position: absolute;
	right: -48px;
	top: 5px;
	height: 16px;
	z-index: 999;	
}

#block-locale-language ul li.first {
	border-left: none;
}

#block-locale-language ul li {
	display: inline;
}

#block-locale-language ul li a {
	color: #fff;
	text-transform: uppercase;
	text-decoration: none;
}

#block-locale-language ul li a.active {
	display:none;
}

#block-locale-language ul li a:hover {
	text-decoration: underline;
	color: #FFF;
}

/* Register Now! */

#block-block-5 {
	font-family: 'News Gothic Std';
	position: absolute;
	right: -470px;
	background-color: #ef4e22;
	width: 400px;
	text-align: left;
	font-size: 24px;
	color: #FFF;
	height: 50px;
	z-index: 1000;
}

#block-block-5 p {
	margin-top: 11px;
	margin-left: 47px;
}

#block-block-5 a {
	color: #FFF;
	text-decoration: none;
}

/* Register Now! French */

#block-block-11 {
	font-family: 'News Gothic Std';
	position: absolute;
	right: -470px;
	background-color: #ef4e22;
	width: 400px;
	text-align: left;
	font-size: 24px;
	color: #FFF;
	height: 50px;
	z-index: 1000;
}

#block-block-11 p {
	margin-top: 11px;
	margin-left: 47px;
}

#block-block-11 a {
	color: #FFF;
	text-decoration: none;
}

/* Welcome View */

#block-views-welcome-username-block-1 .view-content ul li {
	font-family: 'Open Sans-Regular';
	position: absolute;
	right: -60px;
	top: 25px;
	background-color:#FFF;
	width: 394px;
	text-align: center;
	padding: 2px 3px;
	display: inline;
	font-size: 13px;
	color: #333c42;
}

/* CSS for Wysiwyg */

div#edit-field-firm-s- {
	width: 100%;
}
div#edit-award-category,
div#edit-field-lead-design-architect-s- {
	float: none;
}

/* Site map */

.site-map-menu hr {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px);
	clip: rect(1px, 1px, 1px, 1px);
	overflow: hidden;
	height: 1px;
}

.site-map-menu span.separator {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px);
	clip: rect(1px, 1px, 1px, 1px);
	overflow: hidden;
	height: 1px;
}

/* Frontpage Slideshow */

.views-field-field-image {
	margin-top: -18px;
}

.image-field-caption {
	font-family: 'Open Sans-Light';
	background-color: #4d4d4f;	
	color: #FFF;
	line-height: 1.2;
	text-transform: uppercase;
	font-size: 9px;
	text-align: right;
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 0px;
	height: 37px;
	letter-spacing: 1px;
}

ul.tabs.primary.clearfix {
	position: absolute;
	top: -26px;
}

div.topsubmenu {
	font-family: 'News Gothic Std';
	background-color: #98cb4f;
	margin-top: -19px;
	color: #FFF;
}

div.topsubmenu a {
	color: #FFF;
}

div.topsubmenu p {
	padding: 10px;	
}

/* Registration From */

fieldset#edit-profile-main.form-wrapper .fieldset-legend {
	font-family: 'Open Sans-Semibold';
	font-size: 22px;
	font-weight: 100;	
	background-color: #98cb4f;
	padding: 20px 22px 5px 22px;
	color: #FFF;
	width: 655px;
}

fieldset#edit-profile-main.form-wrapper,
fieldset#edit-profile-main .field-name-field-high-school-name-address.form-wrapper,
fieldset#edit-profile-main .field-name-field-h-s-teacher-mentor.form-wrapper,
fieldset#edit-profile-main .field-name-field-team-members.form-wrapper,
fieldset#edit-profile-main .field-name-field-team-member-info1-address.form-wrapper,
fieldset#edit-profile-main .field-name-field-team-member-info2-address.form-wrapper,
fieldset#edit-profile-main .field-name-field-team-member-info3-address.form-wrapper {
	margin-top: 45px;
}

fieldset#edit-profile-main .field-name-field-high-school-name-address .fieldset-legend,
fieldset#edit-profile-main .field-name-field-h-s-teacher-mentor .fieldset-legend,
fieldset#edit-profile-main .field-name-field-team-members .fieldset-legend {
	background-color: #ccc;
	color: inherit;
	font-size: 17px;
	padding: 12px 19px 2px 19px;
}

fieldset#edit-profile-main .field-name-field-team-member-info1-address .fieldset-legend,
fieldset#edit-profile-main .field-name-field-team-member-info2-address .fieldset-legend,
fieldset#edit-profile-main .field-name-field-team-member-info3-address .fieldset-legend {
	background-color: #ccc;
	color: inherit;
	font-size: 15px;
	padding: 12px 19px 2px 19px;
}

fieldset#edit-profile-main .field-name-field-team-members .fieldset-description {
	margin-top: 30px;
}

.profile2-main .field-label {
	font-size: 14px;
	color: inherit;
	padding: 10px 19px 10px 19px;
	width: 200px;
} 
.profile2-main .field-items {
	font-size: 14px;
	color: inherit;
	padding: 10px 19px 10px 19px;
} 

div.messages.status {
	margin-bottom: 30px;
}

#block-views-c6bf427a510cd774dae2b9e4b9060667 h2.block-title {
	padding-top: 40px;
}

.collapse-text-fieldset span.fieldset-legend {
	font-weight: bold;
	margin-left: -15px;
}