/* This file will hold styles that are loaded using the same media query as the wide grid. */

@font-face {
	font-family:'Merriweather';
	src: url('../fonts/Merriweather-Regular.ttf');
} 

@font-face {
	font-family: 'Open Sans-Light';
	src: url('../fonts/OpenSans-Light.ttf');
} 

/* Front page slideshow */

#block-views-3d141119b935457974d44460b1003f15 .view-front-page-news-highlights {
	font-family: 'Open Sans-Light';
	margin-bottom: 63px;
	position: relative;
	margin-top: 4px;
	padding-right: 20px;
	font-size: 14px;
	margin-left: 40px;
}

#block-views-3d141119b935457974d44460b1003f15 .view-front-page-news-highlights .views-slideshow-cycle-main-frame,
#block-views-3d141119b935457974d44460b1003f15 .view-front-page-news-highlights .views_slideshow_slide,
#block-views-3d141119b935457974d44460b1003f15 .view-front-page-news-highlights .slideshow_color {
	width: 850px;
	padding-right: 20px;
}

#block-views-3d141119b935457974d44460b1003f15 .view-front-page-news-highlights .views-field-field-photo {
	float: left;
	margin-right: 15px;
	padding-right: 10px;
}

#block-views-3d141119b935457974d44460b1003f15 .view-front-page-news-highlights .views-field-field-photo img {
	width: 627px;
	height: 418px;
}


#block-views-3d141119b935457974d44460b1003f15 .view-front-page-news-highlights h3,
#block-views-3d141119b935457974d44460b1003f15 .view-front-page-news-highlights .views-field-body {
	padding-right: 15px;
}

#block-views-3d141119b935457974d44460b1003f15 .view-front-page-news-highlights h3 {
	font-family:'Merriweather';
	color: #fff;	
	font-size: 23px;
	font-weight: normal;
	line-height: 1.2;
	margin-bottom: 25px;
	padding-top: 31px;
}

#block-views-3d141119b935457974d44460b1003f15 .view-front-page-news-highlights h3 a {
	color: #fff;
	text-decoration: none;
}

#block-views-3d141119b935457974d44460b1003f15 .view-front-page-news-highlights h3 a:hover,
#block-views-3d141119b935457974d44460b1003f15 .view-front-page-news-highlights h3 a:focus {
	text-decoration: underline;
}

#block-views-3d141119b935457974d44460b1003f15 .view-front-page-news-highlights .views-field-body {
	font-size: 0.9em;
}

#block-views-3d141119b935457974d44460b1003f15 .view-front-page-news-highlights .views-field-body a {
	color: #fff;
	white-space: nowrap;
}

#block-views-3d141119b935457974d44460b1003f15 .views-slideshow-cycle-main-frame-row-item .views-field-nothing a {
	text-decoration: none;
}

#block-views-3d141119b935457974d44460b1003f15 .views-slideshow-cycle-main-frame-row-item .views-field-nothing a:focus,
#block-views-3d141119b935457974d44460b1003f15 .views-slideshow-cycle-main-frame-row-item .views-field-nothing a:hover {
	text-decoration: underline;
}

/* Front page slideshow French */

#block-views-d90cafe357e5de74b28ec20f665e8903 .view-front-page-news-highlights {
	font-family: 'Open Sans-Light';
	margin-bottom: 63px;
	position: relative;
	margin-top: 4px;
	padding-right: 20px;
	font-size: 14px;
	margin-left: 40px;
}

#block-views-d90cafe357e5de74b28ec20f665e8903 .view-front-page-news-highlights .views-slideshow-cycle-main-frame,
#block-views-d90cafe357e5de74b28ec20f665e8903 .view-front-page-news-highlights .views_slideshow_slide,
#block-views-d90cafe357e5de74b28ec20f665e8903 .view-front-page-news-highlights .slideshow_color {
	width: 855px;
	padding-right: 14px;
}

#block-views-d90cafe357e5de74b28ec20f665e8903 .view-front-page-news-highlights .views-field-field-photo {
	float: left;
	margin-right: 15px;
	padding-right: 10px;
}

#block-views-d90cafe357e5de74b28ec20f665e8903 .view-front-page-news-highlights .views-field-field-photo img {
	width: 627px;
	height: 418px;
}


#block-views-d90cafe357e5de74b28ec20f665e8903 .view-front-page-news-highlights h3,
#block-views-d90cafe357e5de74b28ec20f665e8903 .view-front-page-news-highlights .views-field-body {
	padding-right: 15px;
}

#block-views-d90cafe357e5de74b28ec20f665e8903 .view-front-page-news-highlights h3 {
	font-family:'Merriweather';
	color: #fff;	
	font-size: 23px;
	font-weight: normal;
	line-height: 1.2;
	margin-bottom: 25px;
	padding-top: 31px;
}

#block-views-d90cafe357e5de74b28ec20f665e8903 .view-front-page-news-highlights h3 a {
	color: #fff;
	text-decoration: none;
}

#block-views-d90cafe357e5de74b28ec20f665e8903 .view-front-page-news-highlights h3 a:hover,
#block-views-d90cafe357e5de74b28ec20f665e8903 .view-front-page-news-highlights h3 a:focus {
	text-decoration: underline;
}

#block-views-d90cafe357e5de74b28ec20f665e8903 .view-front-page-news-highlights .views-field-body {
	font-size: 0.9em;
}

#block-views-d90cafe357e5de74b28ec20f665e8903 .view-front-page-news-highlights .views-field-body a {
	color: #fff;
	white-space: nowrap;
}

#block-views-d90cafe357e5de74b28ec20f665e8903 .views-slideshow-cycle-main-frame-row-item .views-field-nothing a {
	text-decoration: none;
}

#block-views-d90cafe357e5de74b28ec20f665e8903 .views-slideshow-cycle-main-frame-row-item .views-field-nothing a:focus,
#block-views-d90cafe357e5de74b28ec20f665e8903 .views-slideshow-cycle-main-frame-row-item .views-field-nothing a:hover {
	text-decoration: underline;
}

/* Need to work on positioning of controls for narrow and normal sizes! */

.views-slideshow-controls-bottom {
	padding-top: 15px;
	position: absolute;
	left: 655px;
	top: 375px;
	z-index: 10;
	cursor: pointer;
	width: 200px;
}

.views-slideshow-controls-bottom .views-slideshow-pager-fields,
.views-slideshow-controls-bottom .views-slideshow-pager-field-item,
.views-slideshow-controls-bottom .views-content-nothing,
.views-slideshow-controls-bottom .views-slideshow-controls-text {
	display: inline;
}

.views-slideshow-controls-bottom .views-field-nothing {
	border: 1px solid #fff;
	display: inline-block;
	padding: 0;
	margin: 0 5px 0 0;
	width: 10px;
	height: 10px;
	background-color: transparent;
}

.views-slideshow-controls-bottom .views-content-nothing {
	display: none;
}

.views-slideshow-controls-bottom .views-field-nothing:hover {
	background-color: #fff;
}

.views-slideshow-controls-bottom .active .views-field-nothing {
	background-color: #fff;
}

.views-slideshow-controls-bottom .views-slideshow-controls-text a {
	color: #fff;
	font-size: 15px;
	text-decoration: none;
}

#views_slideshow_controls_text_front_page_news_highlights-block_1 {
	display: none;
}

#views_slideshow_controls_text_front_page_news_highlights-block_5 {
	display: none;
}
