/* This file will hold styles that are loaded using the same media query as the normal grid. */
/* If you are using the default media queries provided by Omega, these styles will also
 *  apply to the widescreen layout unless they are overridden by the widescreen styles. */
 
 /* Front page slideshow */

#block-views-3d141119b935457974d44460b1003f15 .view-front-page-news-highlights .views-slideshow-cycle-main-frame,
#block-views-3d141119b935457974d44460b1003f15 .view-front-page-news-highlights .views_slideshow_slide,
#block-views-3d141119b935457974d44460b1003f15 .view-front-page-news-highlights .slideshow_color {
	width: 645px;
}

#block-views-3d141119b935457974d44460b1003f15 .view-front-page-news-highlights .views-field-field-photo {
	margin-right: 20px;
}

#block-views-3d141119b935457974d44460b1003f15 .view-front-page-news-highlights .views-field-field-photo img {
	width: 480px;
	height: 320px;
}

#block-views-3d141119b935457974d44460b1003f15 .view-front-page-news-highlights h3,
#block-views-3d141119b935457974d44460b1003f15 .view-front-page-news-highlights .views-field-body {
	padding-right: 20px;
}

#block-views-3d141119b935457974d44460b1003f15 .view-front-page-news-highlights h3 {
	font-size: 1.45em;
	margin-bottom: 15px;
}

#block-views-3d141119b935457974d44460b1003f15 .view-front-page-news-highlights .views-field-body {
	font-size: 0.95em;
}


/* Front page slideshow French */

#block-views-d90cafe357e5de74b28ec20f665e8903 .view-front-page-news-highlights .views-slideshow-cycle-main-frame,
#block-views-d90cafe357e5de74b28ec20f665e8903 .view-front-page-news-highlights .views_slideshow_slide,
#block-views-d90cafe357e5de74b28ec20f665e8903 .view-front-page-news-highlights .slideshow_color {
	width: 645px;
}

#block-views-d90cafe357e5de74b28ec20f665e8903 .view-front-page-news-highlights .views-field-field-photo {
	margin-right: 20px;
}

#block-views-d90cafe357e5de74b28ec20f665e8903 .view-front-page-news-highlights .views-field-field-photo img {
	width: 480px;
	height: 320px;
}

#block-views-d90cafe357e5de74b28ec20f665e8903 .view-front-page-news-highlights h3,
#block-views-d90cafe357e5de74b28ec20f665e8903 .view-front-page-news-highlights .views-field-body {
	padding-right: 20px;
}

#block-views-3d141119b935457974d44460b1003f15 .view-front-page-news-highlights h3 {
	font-size: 1.45em;
	margin-bottom: 15px;
}

#block-views-3d141119b935457974d44460b1003f15 .view-front-page-news-highlights .views-field-body {
	font-size: 0.95em;
}