/* This file will hold styles that are loaded using the same media query as the narrow grid. */
/* If you are using the default media queries provided by Omega, these styles will also
 *  apply to the normal and widescreen layouts. You may override these styles in the normal 
 *  and widescreen CSS files as appropriate. */
 
 /* Front page slideshow */

#block-views-3d141119b935457974d44460b1003f15 .view-front-page-news-highlights {
	margin-bottom: 50px;
	position: relative;
}

#block-views-3d141119b935457974d44460b1003f15 .view-front-page-news-highlights .views-slideshow-cycle-main-frame,
#block-views-3d141119b935457974d44460b1003f15 .view-front-page-news-highlights .views_slideshow_slide,
#block-views-3d141119b935457974d44460b1003f15 .view-front-page-news-highlights .slideshow_color {
	width: 465px;
}

#block-views-3d141119b935457974d44460b1003f15 .view-front-page-news-highlights .views-field-field-photo {
	float: left;
	margin-right: 15px;
}

#block-views-3d141119b935457974d44460b1003f15 .view-front-page-news-highlights .views-field-field-photo img {
	width: 360px;
	height: 240px;
}

#block-views-3d141119b935457974d44460b1003f15 .view-front-page-news-highlights h3,
#block-views-3d141119b935457974d44460b1003f15 .view-front-page-news-highlights .views-field-body {
	padding-right: 15px;
}

#block-views-3d141119b935457974d44460b1003f15 .view-front-page-news-highlights h3 {
	color: #fff;
	font-family: Merriweather, serif;
	font-size: 1.4em;
	font-weight: normal;
	line-height: 1.1;
	margin-bottom: 10px;
	padding-top: 0.75em;
}

#block-views-3d141119b935457974d44460b1003f15 .view-front-page-news-highlights h3 a {
	color: #fff;
	text-decoration: none;
}

#block-views-3d141119b935457974d44460b1003f15 .view-front-page-news-highlights h3 a:hover,
#block-views-3d141119b935457974d44460b1003f15 .view-front-page-news-highlights h3 a:focus {
	text-decoration: underline;
}

#block-views-3d141119b935457974d44460b1003f15 .view-front-page-news-highlights .views-field-body {
	font-size: 0.9em;
}

#block-views-3d141119b935457974d44460b1003f15 .view-front-page-news-highlights .views-field-body a {
	color: #fff;
	white-space: nowrap;
}

#block-views-3d141119b935457974d44460b1003f15 .views-slideshow-cycle-main-frame-row-item .views-field-nothing a {
	text-decoration: none;
}

#block-views-3d141119b935457974d44460b1003f15 .views-slideshow-cycle-main-frame-row-item .views-field-nothing a:focus,
#block-views-3d141119b935457974d44460b1003f15 .views-slideshow-cycle-main-frame-row-item .views-field-nothing a:hover {
	text-decoration: underline;
}

/* Need to work on positioning of controls for narrow and normal sizes! */

.views-slideshow-controls-bottom {
	padding-top: 15px;
	position: absolute;
	left: 625px;
	top: 345px;
	z-index: 10;
}

.views-slideshow-controls-bottom .views-slideshow-pager-fields,
.views-slideshow-controls-bottom .views-slideshow-pager-field-item,
.views-slideshow-controls-bottom .views-content-nothing,
.views-slideshow-controls-bottom .views-slideshow-controls-text {
	display: inline;
}

.views-slideshow-controls-bottom .views-field-nothing {
	border: 1px solid #fff;
	display: inline-block;
	padding: 0;
	margin: 0 5px 0 0;
	width: 10px;
	height: 10px;
	background-color: transparent;
}

.views-slideshow-controls-bottom .views-content-nothing {
	display: none;
}

.views-slideshow-controls-bottom .views-field-nothing:hover {
	background-color: #fff;
}

.views-slideshow-controls-bottom .active .views-field-nothing {
	background-color: #fff;
}

.views-slideshow-controls-bottom .views-slideshow-controls-text a {
	color: #fff;
	font-size: 15px;
	text-decoration: none;
}

#views_slideshow_controls_text_front_page_news_highlights-block_1 {
	display: none;
}