/* This file will hold styles for the mobile version of your website (mobile first). */
/* This also can include ANY global CSS that applies site-wide. Unless overwritten by a more specific style rule, CSS declarations in global.css will apply site-wide. */


/* TYPOGRAPHY & GENERAL LAYOUT */

@font-face {
	font-family:'Merriweather';
	src: url('../fonts/Merriweather-Regular.ttf') format('truetype'), 
	url('../fonts/Merriweather-Regular.woff') format('woff'), url('../fonts/Merriweather-Regular.eot') format('oet');
} 

@font-face {
	font-family: 'Open Sans-Italic';
	src: url('../fonts/OpenSans-Italic.ttf'), 
	url('../fonts/OpenSans-Italic.woff') format('woff'), url('../fonts/OpenSans-Italic.eot') format('oet');
} 

@font-face {
	font-family: 'Open Sans-Light';
	src: url('../fonts/OpenSans-Light.ttf') format('truetype'), 
	url('../fonts/OpenSans-Light.woff') format('woff'), url('../fonts/OpenSans-Light.eot') format('oet');
} 

@font-face {
	font-family: 'Open Sans-LightItalic';
	src: url('../fonts/OpenSans-LightItalic.ttf'), 
	url('../fonts/OpenSans-LightItalic.woff') format('woff'), url('../fonts/OpenSans-LightItalic.eot') format('oet');
} 

@font-face {
	font-family: 'Open Sans-Regular';
	src: url('../fonts/OpenSans-Regular.ttf'), 
	url('../fonts/OpenSans-Regular.woff') format('woff'), url('../fonts/OpenSans-Regular.eot') format('oet');
} 

@font-face {
	font-family: 'Open Sans-Semibold';
	src: url('../fonts/OpenSans-Semibold.ttf'), 
	url('../fonts/OpenSans-Semibold.woff') format('woff'), url('../fonts/OpenSans-Semibold.eot') format('oet');
} 

body {
	background: #fff url('../images/raic-bg/bg_01.jpg') center top no-repeat; /* set a default image for those with js disabled */
	color: #333c42;
	-webkit-text-size-adjust: none;
	background-size: 1922px;
	font-family: 'Open Sans-Regular';
	font-size: 14px;
}

table {
	border: none;
	width: 100%;
}

td p {
	margin-bottom:0px;
}

tr:hover td {
	background-color: transparent;
}

hr {
	background-color: #333c42;
}	

sup {
    vertical-align: super;
    font-size: smaller;
} 

#zone-user-wrapper {
	background-color: #333a42;
}

#zone-menu, 
#zone-footer-wrapper {
	background-color: #333a42;
	color: #fff;
}

#zone-header-wrapper {
	margin-bottom: -2px;
}

h1, h5, h6 {
	letter-spacing: 0;
	font-weight: 600;
}

h2 {
	font-family: 'Open Sans-Semibold';
	font-size: 22px;
	font-weight: 100;	
}

h3 {
	font-family: 'Open Sans-Semibold';
	font-size: 16px;
	font-weight: 100;	
}

h4 {
	font-family: 'Open Sans-Semibold';
	font-size: 12px;
	font-weight: 100;
	text-transform: uppercase;	
}

blockquote {
	margin-left: 47px;
	border-left: solid 1px #333c42;
}


blockquote p {
	font-family:'Merriweather';
	font-style: italic;
	font-size: 13px;
	color: #989da0;
	padding-left: 17px;
	padding-right: 27px;
}

.caption {
	font-family: 'Open Sans-Light';
	font-size: 9px;
	color: #989da0;
	text-transform: uppercase;
}

.field-items ul li {
	font-family: 'Open Sans-Regular';
	margin-left: 20px;
	padding-left: 20px;
	padding-bottom: 10px;
}

.field-items ol li {
	font-family: 'Open Sans-Regular';
	margin-left: 20px;
	padding-left: 20px;
	padding-bottom: 10px;
}

a:link,
a:visited {
	color: #f04e23;
	text-decoration: none;
}

a:active,
a:focus,
a:hover {
	color: #f04e23;
	text-decoration: underline;
}

/* Invisible elements */

#block-search-form h2.block-title,
#block-menu-menu-top-menu h2.block-title,
#block-nice-menus-1 h2.block-title,
#block-nice-menus-2 h2.block-title,
#block-system-user-menu h2.block-title,
#block-menu-menu-main-menu-new h2.block-title,
#block-menu-menu-footer-menu h2.block-title,
#block-block-57 h2.block-title,
#block-block-68 h2.block-title,
#block-views-79b0e7291601aaebc04392716032b492 h2.block-title, /* News Highlights */
#block-views-79b0e7291601aaebc04392716032b492 div.image-field-caption,
#block-views-34d82aff2074e558555e3b0c74f948b2 h2.block-title, /* News Highlights French */
#block-views-34d82aff2074e558555e3b0c74f948b2 div.image-field-caption,
#block-views-d90cafe357e5de74b28ec20f665e8903 div.image-field-caption,
#block-views-3d141119b935457974d44460b1003f15 div.image-field-caption,
#block-views-17cbbf4c802b9f75880916910cabf213 div.image-field-caption,
#block-views-df18af71db76150d4775acb31ffb42ed div.image-field-caption,
#block-search-form #edit-submit,
.breadcrumb {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px);
	clip: rect(1px, 1px, 1px, 1px);
	overflow: hidden;
	height: 1px;
}


/* Menus */

.block-menu ul {
	margin: auto;
	list-style: none;
	list-style-type: none;
	list-style-image: none;
}

.block-menu ul li.leaf {
	display: inline;
	margin: 0;
	padding: 0px 6px 0px 6px;
	list-style: none;
	list-style-type: none;
	list-style-image: none;
	border-left: solid 1px #fff;
}

.block-menu ul li.leaf a:link,
.block-menu ul li.leaf a:visited {
	color: #fff;
	text-decoration: none;
}

.block-menu ul li.leaf a:active,
.block-menu ul li.leaf a:focus,
.block-menu ul li.leaf a:hover {
	color: #f04e23;
	text-decoration: underline;
}


/* USER ZONE */


/* Top Menu */

body.lang-fr #block-nice-menus-1  {
	font-family: 'Open Sans-Regular';
	font-size: 11px; 
	-webkit-text-size-adjust: none;
	padding: 4px 0px 0px 0px;
	text-align: right;
	text-transform: uppercase;
	color: #fff;
	position: absolute;
	left: 109px;
}

body.lang-en #block-nice-menus-1  {
	font-family: 'Open Sans-Regular';
	font-size: 11px; 
	-webkit-text-size-adjust: none;
	padding: 4px 0px 0px 0px;
	text-align: right;
	text-transform: uppercase;
	color: #fff;
	position: absolute;
	left: 165px;
}

#block-nice-menus-1 ul li.first {
	border-left-color: #333a42;
}

#block-nice-menus-1 ul li.last {
	border-right-color: #cccccc;
}

#block-nice-menus-1 ul li {
	padding: 0px 5px 0px 5px;
	background-color: #333a42;
	border-bottom-color: #333a42;
	border-top-color: #333a42;
	border-right-color: #333a42;
}

#block-nice-menus-1 ul li a { 
	color: #FFF;
	text-decoration: none;
	display: inline;
}

#block-nice-menus-1 ul li a:hover { 
	color: #f04e23;
	text-decoration: underline;
}

#block-nice-menus-1 .nolink { 
	padding: 5px 5px 5px 5px;
}

#block-nice-menus-1 .nolink li { 
	padding: 5px 0px 5px 5px;
}

#block-nice-menus-1 .nolink:hover { 
	text-decoration: underline;
	color: #f04e23;
	cursor: pointer;
}

#block-nice-menus-1 ul li li {
	text-align: left;
	padding: 3px 0px 2px 6px;
	background-color: #989da0;
}

#block-nice-menus-1 ul li li:hover {
	background-color: #333a42;
	color: #FFF;
	text-decoration: none;
}

#block-nice-menus-1 ul li li a:hover {
	text-align: left;
	color: #FFF;
	border: none;
	text-decoration: none;
}

#block-nice-menus-1 ul li li.first {
	border-left-color: #989da0;
}

#block-nice-menus-1 ul li li.last {
	border-right-color: #989da0;
}

#block-nice-menus-1 ul li ul {
	text-align: left;
	border-top: 10px solid #989da0;	
	border-bottom: 10px solid #989da0;
	border-left: 10px solid #989da0;	
	border-right: 10px solid #989da0;	
}

#block-nice-menus-1 ul li ul li {
	text-align: left;
	border-color: #989da0;
}

#block-nice-menus-1 ul.nice-menu-down li.menuparent {
    background: none;
}



#region-user-second {
	margin-right: 0px;
	height: 25px;
	width: 400px;
}

#region-user-first {
	margin-right: 0px;
	height: 25px;
}

body.lang-en #block-user-login {
	background-color: #bfcd31;
	color: #333c42;
	height: 50px;
	margin: 0 0 -20px 0;
	width: 177px;
}

body.lang-fr #block-user-login {
	background-color: #bfcd31;
	color: #333c42;
	height: 50px;
	margin: 0px 0px -20px 30px;
	width: 185px;
}

#block-user-login a#toboggan-login-link {
	font-family: 'Open Sans-Regular';
	background-color: #333c42; 
	font-size: 14px;
	font-weight: bold;
	color: #bfcd31;
	display: inline-block;
	padding: 5px 15px;
	margin: 5px 8px 0px 0px;
	text-decoration: none;
	text-transform: uppercase;
}

/* "User menu" block for Drupal user menu */
 
body.lang-en #block-system-user-menu {
	font-family: 'Open Sans-Regular';
	background-color: #bfcd31;
	position: absolute;
	right: -60px;
	width: 380px;	
	font-size: 11px; 
	padding: 5px 0px 4px 20px;
	text-align: right;
	text-transform: uppercase;
	height: 16px;
	color: #000;
}

body.lang-fr #block-system-user-menu {
	font-family: 'Open Sans-Regular';
	background-color: #bfcd31;
	position: absolute;
	right: -60px;
	width: 400px;	
	font-size: 11px; 
	padding: 5px 0px 4px 0px;
	text-align: right;
	text-transform: uppercase;
	height: 16px;
	color: #000;
}

body.lang-en #block-system-user-menu ul.menu {
	margin-left: 23px;
}

body.lang-fr #block-system-user-menu ul.menu {
	margin-left: 18px;
	margin-right: 10px;
}

body.lang-en #block-system-user-menu ul li.leaf {
	display: inline;
	margin: 0;
	padding: 0px 3px 0px 3px;
	border-left: solid 1px #000;
}

body.lang-fr #block-system-user-menu ul li.leaf {
	display: inline;
	margin: 0;
	padding: 0px 3px 0px 3px;
	border-left: solid 1px #000;
}

body.lang-en #block-system-user-menu ul li.first {
	padding-left: 0;
	border-left: none;
}

body.lang-fr #block-system-user-menu ul li.first {
	padding-left: 0;
	border-left: none;
}

#block-system-user-menu ul li a {
	list-style: none;
	list-style-type: none;
	list-style-image: none;
	display: inline-block;
	padding: 0px 1px 0px 1px;
	color: #000; 	
}

#block-system-user-menu ul li a:hover {
	color: #f04e23;
	text-decoration: underline;
}

/* Copied from Syllabus site */

#toboggan-login-link-container {
	position: absolute;
	float: right;
	margin-left: 9px;
	padding: 6px 10px;
	background-color: #bfcd31;
	line-height: 15px;
	z-index: 1002;
}

#toboggan-login {
	background-color: #bfcd31;
	border-left: 0;
	/*border-top: solid 1px #000;*/
	color: #333c42;
	margin-right: -60px;
	margin-top: 3px;
	padding: 10px 10px 6px 10px;
	position: absolute;
	right: 0;
	top: 46px;
	width: 380px;
	height: 85px;
	z-index: 1000;
}

#toboggan-login .form-item, #toboggan-login .form-actions {
	margin-top: 0;
	margin-bottom: 0;
}

#toboggan-login label {
	font-family: 'Open Sans-Semibold';
	font-size: 14px;
	float: left;
	clear: both;
	margin: 0px 12px 3px 13px;
	font-weight:100;
}

#toboggan-login .form-text {
	margin-left: -80px;
	float: right;
	color: #486b7f;
	/*-webkit-border-radius: 5px;
	border-radius: 5px;*/
	border: solid 1px #b0a97b;
	width: 210px;
	height: 25px;
}

#toboggan-login .item-list {
	clear: both;
	float: right;
	text-align: right;
	/* font-size: 0.8em; */
	width: 150px;
}

body.lang-en #toboggan-login .form-actions input {
	font-family: 'Open Sans-Regular';
	width: 90px;
	height: 25px;
	font-size: 14px;
	text-transform: uppercase;
	border: none;
    display: block;
    background: #333c42;
    color: #bfcd31;
    text-align: center;
    border-radius: 0px;
	padding: 4px 13px;
	position: absolute;
	top: 65px;
	left: 20px;
	text-shadow: 0px 0px 0px #333c42;
    /*box-shadow: 0px 3px 1px #2075aa;
  	-webkit-transition: all 0.15s linear;
	-moz-transition: all 0.15s linear;
	transition: all 0.15s linear;*/
}

body.lang-fr #toboggan-login .form-actions input {
	font-family: 'Open Sans-Regular';
	width: 130px;
	height: 25px;
	font-size: 14px;
	text-transform: uppercase;
	border: none;
    display: block;
    background: #333c42;
    color: #bfcd31;
    text-align: center;
    border-radius: 0px;
	padding: 4px 13px;
	position: absolute;
	top: 65px;
	left: 20px;
	text-shadow: 0px 0px 0px #333c42;
    /*box-shadow: 0px 3px 1px #2075aa;
  	-webkit-transition: all 0.15s linear;
	-moz-transition: all 0.15s linear;
	transition: all 0.15s linear;*/
}

#toboggan-login .item-list ul {
	margin: 0;
	display: block;
	width: 220px;
	margin-left: -71px;
}
#toboggan-login .item-list li.last {
	margin-top: -10px;	
	
}

body.lang-en #toboggan-login .item-list a {
	font-family: 'Open Sans-Regular';
	color: #333c42;
	text-transform:uppercase;
	text-decoration: none;
	font-size: 10px;
	text-align: right;
	padding-bottom: -10px;	
}

body.lang-fr #toboggan-login .item-list a {
	font-family: 'Open Sans-Regular';
	color: #333c42;
	text-transform:uppercase;
	text-decoration: none;
	font-size: 10px;
	text-align: right;
	padding-bottom: -10px;	
}

#toboggan-login .item-list a:hover {
	text-decoration: underline;
	color: #f04e23;
}

#toboggan-login #edit-actions.form-actions {
	clear: left;
	font-size: 0.9em;
}

#block-logintoboggan-logintoboggan-logged-in {
	text-align: right;
}

#block-logintoboggan-logintoboggan-logged-in a,
#block-logintoboggan-logintoboggan-logged-in a:hover {
	color: #F5D161;
}

#region-user-second .block {
	float: right;
	margin-left:-1px;
}

/* Join */

#block-block-62 {
	background-color: #bfcd31;
	font-weight: 600;
	height: 50px;
	margin: 0 -59px -20px 0;
	padding: 0 10px;
	width: 203px;
}

#block-block-62 img {
	position: absolute;
	right: -60px;
    top: 0px;
    z-index: 1003;
}

#block-block-62 a {
	text-decoration: none;
	width: 200px;
	height: 50px;
}

#block-block-62 .line1 {
	margin: 0px 0px 0px -6px;
}

#block-block-62 .line1 a {
	font-size: 1.0em;
	color: #333c42;
	width: 200px;
	height: 50px;
}

#block-block-62 .line2 {
	font-size: 1.7em;
	margin: -9px 0px 0px -32px;
	text-align: right;
}

#block-block-62 .line2 a {
	color: #fff;
}

/* Join French */

#block-block-71 {
	background-color: #bfcd31;
	font-weight: 600;
	height: 50px;
	margin: 0 -39px -20px 0;
	padding: 0 10px;
	width: 175px;
}

#block-block-71 img {
	position: absolute;
	right: -60px;
    top: 0px;
    z-index: 1003;
}

#block-block-71 a {
	text-decoration: none;
	width: 175px;
	height: 50px;
}

#block-block-71 .line1 {
	margin: 0px 0px 0px -6px;
}

#block-block-71 .line1 a {
	font-size: 1.0em;
	color: #333c42;
	width: 175px;
	height: 50px;
}

#block-block-71 .line2 {
	font-size: 1.7em;
	margin: -9px 0px 0px -32px;
	text-align: right;
}

#block-block-71 .line2 a {
	color: #fff;
}


/* User menu */

#region-user-second ul.menu {
	margin-right: 1em;
}

#region-user-second ul.menu li.leaf,
#region-user-second ul.menu li.collapsed,
#region-user-second ul.menu li.expanded {
	margin: 0;
	padding: 0.2em 0.5em 0 0.5em;
	list-style-type: none;
	list-style-image: none;
	display: inline;
	/*border-right: solid 2px #7BB8DA;*/
}

#region-user-second ul.menu li.leaf.last {
	border-right: 0;
}

/* BRANDING ZONE */

#zone-branding {
	background: url(../images/masthead.png);
}

#zone-branding_old {
	background: -moz-linear-gradient(left,  rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* IE10+ */
	background: linear-gradient(to right,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 */
}

.region-branding-inner {
	padding: 36px 35px 25px 35px;
}

.branding-data {
	float: left;
}

/* Site slogan */
#block-block-61 {
	float: left;
	padding: 35px 0 0 5px;
	margin: 3px 0px -5px 28px;
}

#block-block-61 h3 {
	font-family:'Merriweather';
	font-weight: normal;
	letter-spacing: 0.2px;
	line-height: 28px;
	font-size: 22px;
}

#block-block-66 {
	float: left;
	padding: 35px 0 0 5px;
	margin: 3px 0px -5px 28px;
}

#block-block-66 h3 {
	font-family:'Merriweather';
	font-weight: normal;
	letter-spacing: 0.2px;
	line-height: 28px;
	font-size: 22px;
}


/* MENU ZONE (Nice) */

#block-nice-menus-2 {
	font-family: 'Open Sans-Light';
	font-size: 15px;
}

#block-nice-menus-2 ul li.first {
	border-left-color: #333a42;
}


#block-nice-menus-2 ul li.last {
	border-right-color: #333a42;
}

#block-nice-menus-2 ul li {
	display: inline-block;
	padding: 0px 32px 0px 33px;
	height: 31px;
	padding-top: 7px;
	background-color: #333a42;
	border-bottom-color: #333a42;
	border-top-color: #333a42;
	border-right-color: #333a42;
}

#block-nice-menus-2 ul li:hover {
	background-color: #f04e23;
	border-bottom-color: #f04e23;
	border-top-color: #f04e23;
	border-right-color: #f04e23;
	height: 31px;
}

#block-nice-menus-2 ul li a { 
	color: #FFF;
	text-decoration: none;
	display: inline;
}

#block-nice-menus-2 ul li a:hover { 
	color: FFF;
	text-decoration: none;
	background-color: #f04e23;
}

#block-nice-menus-2 ul li ul li a:hover { 
	color: FFF;
	text-decoration: none;
	background-color: #f04e23;
}

#block-nice-menus-2 .nolink { 
	padding: 0px 5px 0px 5px;
}

#block-nice-menus-2 .nolink:hover { 
	text-decoration: underline;
	color: #f04e23;
	cursor: pointer;
}

#block-nice-menus-2 ul li li {
	background-color: #333a42;
	border: none;
}

#block-nice-menus-2 ul.nice-menu-down li.menuparent {
    background: none;
}


/* MENU ZONE (Mega) */

.megamenu-skin-raic .megamenu-parent {
  display: inline-block;
}

.megamenu-skin-raic {
	background-color:#333a42;
}

.megamenu-skin-raic .megamenu-parent-title {
	font-family: 'Open Sans-Light';
	font-size: 15px;
	border-right: solid 1px #FFF;
	height: 29px;
	text-decoration: none;
	letter-spacing: .2px;
	display: inline-block;
	padding-top: 11px;
}

body.lang-en .megamenu-skin-raic .megamenu-parent-title .nolink {
	padding: 0px 26px 0px 26px;	
	cursor: pointer;
}

body.lang-fr .megamenu-skin-raic .megamenu-parent-title .nolink {
	padding: 0px 20px 0px 20px;	
	cursor: pointer;
}

.megamenu-skin-raic .megamenu-parent-title ul li .nolink {
	padding: 0px 26px 0px 26px;	
	cursor: pointer;
	background-color:#FFF;
}

.megamenu-skin-raic .last .megamenu-parent-title {
	border-right: none;
}

.megamenu-skin-raic .megamenu-parent-title a {
	color: #fff;
	padding: 0px 26px 0px 26px;	
	text-decoration: none;
}

.megamenu-skin-raic .megamenu-parent-title a:hover {
	text-decoration: none;
	background-color: transparent;	
	padding: 8px 26px 10px 26px;		
}

.megamenu-skin-raic .active .megamenu-parent-title {
	text-decoration: none;
	background-color: #f04e23;			
}

.megamenu-skin-raic .hovering .megamenu-parent-title {
	background-color: #f04e23;	
}

.megamenu-skin-raic .megamenu-bin {
	color:#989da0;
	background-color:#989da0;
	padding: 20px 20px 20px 20px;
	margin-top: 1px;
}

.megamenu-skin-raic .megamenu-bin .nolink {
	list-style-image: none;
	padding: 0px 0px 0px 25px;
	font-size: 15px;
	font-family: 'Open Sans-Regular';
	color: #fff;
}

.megamenu-skin-raic .megamenu-bin .separator {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px);
	clip: rect(1px, 1px, 1px, 1px);
	overflow: hidden;
	height: 1px;
}

.megamenu-skin-raic .megamenu-slot {
	margin-right: 5px;
}

.megamenu-skin-raic .megamenu-items {
	font-family: 'Open Sans-light';
	font-size: 14px;
	padding: 6px 0px 0px 33px;
}

.megamenu-skin-raic .megamenu-item {
	padding: 5px 0px 5px 0px;
}

.megamenu-skin-raic .megamenu-items a { 
	color: #fff;
}

.megamenu-skin-raic .megamenu-items a:hover { 
	color: #fff;
	text-decoration: none;
}

.megamenu-skin-raic .megamenu-items li:hover { 
	color: #fff;
	text-decoration: none;
	background-color: #333c42;
	margin-left: -8px;
	padding-left: 8px;
}

.megamenu-skin-raic .megamenu-items li a:active {
	text-decoration: none;
	background-color: #333c42;		
}

.megamenu-skin-raic .megamenu-slot-title,
.megamenu-skin-raic .megamenu-slot-title a {
	color:#fff;
	
}

.megamenu-skin-raic .megamenu-slot-title a:hover {
	text-decoration: none;
}

.megamenu-skin-raic .megamenu-link {

}


/* MENU ZONE (Old) */

/*#block-menu-menu-main-menu-new {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	padding: 0px 0px 0px 10px;
	margin-left: 0px;
	
}

#block-menu-menu-main-menu-new ul li.first {
	padding-left: 0;
	border-left: none;
}

#block-menu-menu-main-menu-new ul li.leaf {
	display: inline-block;
	padding: 0 29px;
	height: 31px;
	padding-top: 8px;
}*/


/* CONTENT ZONE */

#zone-content {
	background-color: #fff;
}

.front #breadcrumb,
.page-node-101474 #breadcrumb {
	display: none;
}

#breadcrumb .breadcrumb {
	padding: 0 0 0 40px;
}

.region-content-inner {
	padding: 45px 15px 0px 0px;
}

h1#page-title {
	font-family: 'Merriweather';
	font-weight: bold;
	color: #f04e23;
	font-size: 30px;
	
}

.front h1#page-title,
.page-node-101474 h1#page-title {
	display: none;
}

.front h1#page-title,
.page-node-101826 h1#page-title {
	display: none;
}

/* Sidebar */


/* ShareThis */

#region-sidebar-first .block-sharethis {
	padding-top: 5px;
}

#region-sidebar-first .sharethis-wrapper {
	margin-left: -12px;
}


/* Sidebar Left (Menu Block) */

#region-sidebar-first .block-menu-block-1 {
	margin-top: 35px;
	margin-left: 5px;
}

#region-sidebar-first .block-menu-block-1 ul.menu {
	margin-left: 0px;
	padding-bottom: 8px;
}

#region-sidebar-first .block-menu-block-1 .separator {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px);
	clip: rect(1px, 1px, 1px, 1px);
	overflow: hidden;
	height: 1px;
}

#region-sidebar-first .block-menu-block-1 ul li.expanded {
	font-family: 'Open Sans-Light';
	margin-left: 10px;
	list-style-image: none;
	list-style-type: none;
	font-size: 13px;
}

#region-sidebar-first .block-menu-block-1 ul li ul li {
	list-style-image: none;
	list-style-type: none;	
	padding-top: 3px;
	padding-bottom: 3px;
}

#region-sidebar-first .block-menu-block-1 .active-trail .nolink {
	font-size: 14px;
}


#region-sidebar-first h2.block-title {
	font-family: 'Open Sans-Regular';
	font-size: 16px;
	
}

.region-sidebar-first-inner {
	margin: 49px 0px 0px 30px;
}

/* Sidebar Left (Bulletin Menu) */

#region-sidebar-first .block-menu-block-2 {
	margin-top: 35px;
	margin-left: 5px;
}

#region-sidebar-first .block-menu-block-2 ul.menu {
	margin-left: 0px;
	padding-bottom: 8px;
}

#region-sidebar-first .block-menu-block-2 .separator {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px);
	clip: rect(1px, 1px, 1px, 1px);
	overflow: hidden;
	height: 1px;
}

#region-sidebar-first .block-menu-block-2 ul li {
	font-family: 'Open Sans-Light';
	margin-left: 10px;
	list-style-image: none;
	list-style-type: none;
	font-size: 13px;list-style-image: none;
	list-style-type: none;	
	padding-top: 3px;
	padding-bottom: 3px;
}

#region-sidebar-first .block-menu-block-2 .active-trail .nolink {
	font-size: 14px;
}

/* Sidebar Right */

.region-sidebar-second-inner {
	margin: 49px 0px 0px 0px;
}

#region-sidebar-second .block {
	border-bottom: 3px solid #333c42;
	margin-bottom: 2em;
}

#region-sidebar-second h2.block-title {
	font-family: 'Open Sans-Light';
	font-weight: 100;
	background-color: #333c42;
	color: #fff;
	font-size: 15px;
	letter-spacing: 1px;
	padding: 4px 11px;
	text-transform: uppercase;
}

/*  Search */

#region-sidebar-second #block-search-form {
	border-bottom: none;
	padding-bottom: 3px;
}

#block-search-form #edit-search-block-form--2 {
	background: #e0e1e2 url('../images/search.jpg') right top no-repeat;
	height: 30px;
	width: 240px;
	width: 100%;
	border: none;
	color: #333c42;
	font-size: 14px;
}

#region-sidebar-second #block-search-form .form-actions input {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px);
	clip: rect(1px, 1px, 1px, 1px);
	overflow: hidden;
	height: 1px;
}

/* Latest News */

#block-views-7b4b3a5ffe8fd6b691e4d382d48ed1c7 .content ul,
#block-views-7b4b3a5ffe8fd6b691e4d382d48ed1c7 .view-footer p {
	margin: 0;
}

#block-views-7b4b3a5ffe8fd6b691e4d382d48ed1c7 .content li,
#block-views-7b4b3a5ffe8fd6b691e4d382d48ed1c7 .view-footer {
	font-family: 'Open Sans-Semibold';
	color: #f04e23;
	font-size: 14px;
	margin: 0;
	padding: 6px 10px;
	border-bottom: 1px solid #333C42;
}

#block-views-7b4b3a5ffe8fd6b691e4d382d48ed1c7 .content li a,
#block-views-7b4b3a5ffe8fd6b691e4d382d48ed1c7 .view-footer a {
	color: #f04e23;
	text-decoration: none;
}

#block-views-7b4b3a5ffe8fd6b691e4d382d48ed1c7 .content li a:focus,
#block-views-7b4b3a5ffe8fd6b691e4d382d48ed1c7 .content li a:hover,
#block-views-7b4b3a5ffe8fd6b691e4d382d48ed1c7 .view-footer a:focus,
#block-views-7b4b3a5ffe8fd6b691e4d382d48ed1c7 .view-footer a:hover {
	text-decoration: underline;
}

/* Latest News French */

#block-views-be4a0fc63e1ada5c74763e1d120e5318 .content ul,
#block-views-be4a0fc63e1ada5c74763e1d120e5318 .view-footer p {
	margin: 0;
}

#block-views-be4a0fc63e1ada5c74763e1d120e5318 .content li,
#block-views-be4a0fc63e1ada5c74763e1d120e5318 .view-footer {
	font-family: 'Open Sans-Semibold';
	color: #f04e23;
	font-size: 14px;
	margin: 0;
	padding: 6px 10px;
	border-bottom: 1px solid #333C42;
}

#block-views-be4a0fc63e1ada5c74763e1d120e5318 .content li a,
#block-views-be4a0fc63e1ada5c74763e1d120e5318 .view-footer a {
	color: #f04e23;
	text-decoration: none;
}

#block-views-be4a0fc63e1ada5c74763e1d120e5318 .content li a:focus,
#block-views-be4a0fc63e1ada5c74763e1d120e5318 .content li a:hover,
#block-views-be4a0fc63e1ada5c74763e1d120e5318 .view-footer a:focus,
#block-views-be4a0fc63e1ada5c74763e1d120e5318 .view-footer a:hover {
	text-decoration: underline;
}

/* Tweets */

#region-sidebar-second #block-twitter-block-1 iframe {
	height: 450px;
}

#region-sidebar-second #block-twitter-block-1 h2.block-title {
	background: #333c42 url('../images/tweets.jpg') 0 -1px no-repeat;
	padding: 3px 40px;
}

/* FOOTER ZONE */

#zone-footer-wrapper {
	height: 150px;
}

#zone-footer {
	background: url('../images/footer_seal.jpg') no-repeat 160px 0;
	height: 135px;
	padding-top: 15px;
}

.region-footer-first-inner {
	padding-left: 40px;
}

.region-footer-second-inner {
	margin-right: -22px;
	text-align: right;
}

/* Contact Info */

#block-block-57 h3 {
	font-family: 'Open Sans-Regular';
	font-size: 17.5px;
	margin-bottom: 5px;
	font-weight: 100;
	margin-top: 10px;
}

#block-block-57 h3 strong {
	font-weight: 600;
}

#block-block-57 .column a {
	color: #fff;
	text-decoration: none;
}

#block-block-57 .column a:hover {
	color: #f04e23;
	text-decoration: underline;
}

#block-block-57 .column {
	font-family: 'Open Sans-Regular';
	float: left;
	font-size: 14px;
	line-height: 1.3;
	padding-right: 2.5em;
}

/* Contact Info French */

#block-block-68 h3 {
	font-family: 'Open Sans-Regular';
	font-size: 17.5px;
	margin-bottom: 5px;
	font-weight: 100;
	margin-top: 10px;
}

#block-block-68 h3 strong {
	font-weight: 600;
}

#block-block-68 .column a {
	color: #fff;
	text-decoration: none;
}

#block-block-68 .column a:hover {
	color: #f04e23;
	text-decoration: underline;
}

#block-block-68 .column {
	font-family: 'Open Sans-Regular';
	float: left;
	font-size: 14px;
	line-height: 1.3;
	padding-right: 2.5em;
}

/* Social media icons */

#block-block-59 h2 {
	font-family: 'Open Sans-Semibold';
	font-size: 15px;
	margin-bottom: 5px;
	font-weight: 100;
}

#block-block-59 ul {
	margin: 0 0 5px 0;
	padding: 0;
	list-style: none;
	list-style-type: none;
	list-style-image: none;
}

#block-block-59 ul li {
	display: inline;
	height: 30px;
	width: 30px;
	margin: 0 0 0 10px;
	padding: 0;
	list-style: none;
	list-style-type: none;
	list-style-image: none;
}

#block-block-59 .content a { 
	background: url('../images/social-media-sprites.png') no-repeat;
	display: inline-block;
	width: 30px; 
	height: 30px; 
} 

#block-block-59 .content a.sprite-youtube { 
	background-position: 0 -120px; 
} 

#block-block-59 .content a.sprite-facebook { 
	background-position: 0 0; 
} 

#block-block-59 .content a.sprite-instagram { 
	background-position: 0 -40px; 
} 

#block-block-59 .content a.sprite-linkedin { 
	background-position: 0 -80px; 
} 

#block-block-59 .content a.sprite-twitter { 
	background-position: 0 -160px; 
} 

/* Social media icons French */

#block-block-69 h2 {
	font-family: 'Open Sans-Semibold';
	font-size: 15px;
	margin-bottom: 5px;
	font-weight: 100;
}

#block-block-69 ul {
	margin: 0 0 5px 0;
	padding: 0;
	list-style: none;
	list-style-type: none;
	list-style-image: none;
}

#block-block-69 ul li {
	display: inline;
	height: 30px;
	width: 30px;
	margin: 0 0 0 10px;
	padding: 0;
	list-style: none;
	list-style-type: none;
	list-style-image: none;
}

#block-block-69 .content a { 
	background: url('../images/social-media-sprites.png') no-repeat;
	display: inline-block;
	width: 30px; 
	height: 30px; 
} 

#block-block-69 .content a.sprite-youtube { 
	background-position: 0 -120px; 
} 

#block-block-69 .content a.sprite-facebook { 
	background-position: 0 0; 
} 

#block-block-69 .content a.sprite-instagram { 
	background-position: 0 -40px; 
} 

#block-block-69 .content a.sprite-linkedin { 
	background-position: 0 -80px; 
} 

#block-block-69 .content a.sprite-twitter { 
	background-position: 0 -160px; 
} 

/* Footer menu */

#block-menu-menu-footer-menu {
	font-family: 'Open Sans-Regular';
	font-size: 13px;
	margin-bottom: 10px;
}

#block-menu-menu-footer-menu ul li {
	float: right;
}

#block-menu-menu-footer-menu ul li.first {
	padding-right: 0;
}

#block-menu-menu-footer-menu ul li.last {
	border-left: none;
}


/* Copyright */

#block-block-58 {
	font-family: 'Open Sans-Regular';
	font-size: 12px;
	margin-top: -8px;
	margin-bottom: -8px;
}

/* Copyright French */

#block-block-70 {
	font-family: 'Open Sans-Regular';
	font-size: 12px;
	margin-top: -8px;
	margin-bottom: -8px;
}

/* Masquerade */

#block-masquerade-masquerade {
	color: #fff;
}

#block-masquerade-masquerade h2 {
	font-size: 1.2em;
	margin-bottom: 10px;
}


/* FRONT PAGE */

/* News Highlights */

#block-views-79b0e7291601aaebc04392716032b492 {
	margin-bottom: 40px;
	width: 900px;
	margin-left: 40px;	
}

#block-views-79b0e7291601aaebc04392716032b492 .view-front-page-news-highlights .views-column {
	float: left;
	width: 270px;
	height: 320px;
}

#block-views-79b0e7291601aaebc04392716032b492 .view-front-page-news-highlights .views-column-1,
#block-views-79b0e7291601aaebc04392716032b492 .view-front-page-news-highlights .views-column-2 {
	margin-right: 30px;
}

#block-views-79b0e7291601aaebc04392716032b492 .view-front-page-news-highlights .views-field-field-photo {
	margin-bottom: 10px;
}

#block-views-79b0e7291601aaebc04392716032b492 .view-front-page-news-highlights .views-field-field-photo img {
	width: 270px;
	height: 180px;
}

#block-views-79b0e7291601aaebc04392716032b492 .view-front-page-news-highlights .views-field-title {
	font-family: 'Open Sans-Semibold';
	font-size: 17px;
	line-height: 1.1;
	margin-bottom: 5px;
}

#block-views-79b0e7291601aaebc04392716032b492 .view-front-page-news-highlights .views-field-title a {
	color: #000;
	text-decoration: none;
}

#block-views-79b0e7291601aaebc04392716032b492 .view-front-page-news-highlights .views-field-title a:focus,
#block-views-79b0e7291601aaebc04392716032b492 .view-front-page-news-highlights .views-field-title a:hover {
	text-decoration: underline;
}

#block-views-79b0e7291601aaebc04392716032b492 .view-front-page-news-highlights .views-field-body {
	font-weight: 300;
	font-size: 0.9em;
}

#block-views-79b0e7291601aaebc04392716032b492 .views-column {
	margin-bottom: 40px;
}

#block-views-79b0e7291601aaebc04392716032b492 .views-field-nothing {
	font-family: 'Open Sans-Light';
	font-size: 14px;
	line-height: 1.3;
	font-weight: 200;
}

#block-views-79b0e7291601aaebc04392716032b492 .views-field-nothing a {
	color:  #f04e23;
	font-weight: bold;
	text-decoration: none;
}

#block-views-79b0e7291601aaebc04392716032b492 .views-field-nothing a:focus,
#block-views-79b0e7291601aaebc04392716032b492 .views-field-nothing a:hover {
	text-decoration: underline;
}

.views-slideshow-cycle-main-frame-row-item .views-field-nothing a {
	color: #fff;
	text-decoration: none;
}

/* News Highlights French */

#block-views-34d82aff2074e558555e3b0c74f948b2 {
	margin-bottom: 40px;
	width: 900px;
	margin-left: 40px;	
}

#block-views-34d82aff2074e558555e3b0c74f948b2 .view-front-page-news-highlights .views-column {
	float: left;
	width: 270px;
	height: 330px;
}

#block-views-34d82aff2074e558555e3b0c74f948b2 .view-front-page-news-highlights .views-column-1,
#block-views-34d82aff2074e558555e3b0c74f948b2 .view-front-page-news-highlights .views-column-2 {
	margin-right: 30px;
}

#block-views-34d82aff2074e558555e3b0c74f948b2 .view-front-page-news-highlights .views-field-field-photo {
	margin-bottom: 10px;
}

#block-views-34d82aff2074e558555e3b0c74f948b2 .view-front-page-news-highlights .views-field-field-photo img {
	width: 270px;
	height: 180px;
}

#block-views-34d82aff2074e558555e3b0c74f948b2 .view-front-page-news-highlights .views-field-title {
	font-family: 'Open Sans-Semibold';
	font-size: 17px;
	line-height: 1.1;
	margin-bottom: 5px;
}

#block-views-34d82aff2074e558555e3b0c74f948b2 .view-front-page-news-highlights .views-field-title a {
	color: #000;
	text-decoration: none;
}

#block-views-34d82aff2074e558555e3b0c74f948b2 .view-front-page-news-highlights .views-field-title a:focus,
#block-views-34d82aff2074e558555e3b0c74f948b2 .view-front-page-news-highlights .views-field-title a:hover {
	text-decoration: underline;
}

#block-views-34d82aff2074e558555e3b0c74f948b2 .view-front-page-news-highlights .views-field-body {
	font-weight: 300;
	font-size: 0.9em;
}

#block-views-34d82aff2074e558555e3b0c74f948b2 .views-column {
	margin-bottom: 40px;
}

#block-views-34d82aff2074e558555e3b0c74f948b2 .views-field-nothing {
	font-family: 'Open Sans-Light';
	font-size: 14px;
	line-height: 1.3;
	font-weight: 200;
}

#block-views-34d82aff2074e558555e3b0c74f948b2 .views-field-nothing a {
	color:  #f04e23;
	font-weight: bold;
	text-decoration: none;
}

#block-views-34d82aff2074e558555e3b0c74f948b2 .views-field-nothing a:focus,
#block-views-34d82aff2074e558555e3b0c74f948b2 .views-field-nothing a:hover {
	text-decoration: underline;
}

.views-slideshow-cycle-main-frame-row-item .views-field-nothing a {
	color: #fff;
	text-decoration: none;
}

/* NEWS PAGE */

.page-node-101586 #block-views-17cbbf4c802b9f75880916910cabf213 .views-row {
	border-bottom: 2px solid #909599;
	padding-bottom: 20px;
	margin-bottom: 20px;
}

.page-node-101586 #block-views-17cbbf4c802b9f75880916910cabf213 .views-field-field-photo {
	float: left;
	margin-right: 40px;
}

.page-node-101586 #block-views-17cbbf4c802b9f75880916910cabf213 .views-field-title {
	color: #333c42;
	font-size: 1.3em;
	font-weight: 600;
	margin-bottom: 5px;
}

.page-node-101586 #block-views-17cbbf4c802b9f75880916910cabf213 .views-field-title a {
	color: #333c42;
	text-decoration: none;
}

.page-node-101586 #block-views-17cbbf4c802b9f75880916910cabf213 .views-field-body a {
	color: #f04e23;
	text-decoration: none;
}

.page-node-101586 #block-views-17cbbf4c802b9f75880916910cabf213 .views-field-title a:focus,
.page-node-101586 #block-views-17cbbf4c802b9f75880916910cabf213 .views-field-title a:hover,
.page-node-101586 #block-views-17cbbf4c802b9f75880916910cabf213 .views-field-body a:focus,
.page-node-101586 #block-views-17cbbf4c802b9f75880916910cabf213 .views-field-body a:hover {
	text-decoration: underline;
}

/* NEWS PAGE French*/

.page-node-101874 #block-views-df18af71db76150d4775acb31ffb42ed .views-row {
	border-bottom: 2px solid #909599;
	padding-bottom: 20px;
	margin-bottom: 20px;
}

.page-node-101874 #block-views-df18af71db76150d4775acb31ffb42ed .views-field-field-photo {
	float: left;
	margin-right: 40px;
}

.page-node-101874 #block-views-df18af71db76150d4775acb31ffb42ed .views-field-title {
	color: #333c42;
	font-size: 1.3em;
	font-weight: 600;
	margin-bottom: 5px;
}

.page-node-101874 #block-views-df18af71db76150d4775acb31ffb42ed .views-field-title a {
	color: #333c42;
	text-decoration: none;
}

.page-node-101874 #block-views-df18af71db76150d4775acb31ffb42ed .views-field-body a {
	color: #f04e23;
	text-decoration: none;
}

.page-node-101874 #block-views-df18af71db76150d4775acb31ffb42ed .views-field-title a:focus,
.page-node-101874 #block-views-df18af71db76150d4775acb31ffb42ed .views-field-title a:hover,
.page-node-101874 #block-views-df18af71db76150d4775acb31ffb42ed .views-field-body a:focus,
.page-node-101874 #block-views-df18af71db76150d4775acb31ffb42ed .views-field-body a:hover {
	text-decoration: underline;
}

/* Language switcher */

#block-locale-language {
	font-family: 'Open Sans-Regular';
	font-size: 11px; 
	text-transform: uppercase;
	text-align: left;
	position: absolute;
	right: -57px;
	top: 5px;
	height: 16px;
	z-index: 999;	
}

#block-locale-language ul li.first {
	border-left: none;
}

#block-locale-language ul li {
	display: inline;
}

#block-locale-language ul li a {
	color: #fff;
	text-transform: uppercase;
	text-decoration: none;
}

#block-locale-language ul li a.active {
	display:none;
}

#block-locale-language ul li a:hover {
	text-decoration: underline;
	color: #f04e23;
}

#block-locale-language .locale-untranslated {
	color: #FFF;
}

/* RAIC Staff */

#block-menu-menu-raic-admin {
	font-family: 'Open Sans-Regular';
	background-color: #f5f4f2;
	font-size: 15px;
	
	
}

#block-menu-menu-raic-admin ul li {
	margin-left: -1px;
	display: block;
	padding: 6px 11px;
	border-bottom: 1px solid #cccccc;
	
}

#block-menu-menu-raic-admin ul li.expanded ul li {
	display: block;
	font-size: 12px;
	border-bottom: 1px solid #f5f4f2;
	padding-bottom: 2px;
	border-left:none;
}

#block-menu-menu-raic-admin ul li a {
	list-style: none;
	list-style-type: none;
	list-style-image: none;
	color: #000;	
}

#block-menu-menu-raic-admin ul li a:hover {
	color: #f04e23;
}

/* Members Menu and Festival Registration block */

#block-menu-menu-members-menu,
#block-block-90 {
	font-family: 'Open Sans-Regular';
	background-color: #bfcd31;
	font-size: 14px;
}

#block-menu-menu-members-menu ul li,
#block-block-90 .content {
	margin-left: -1px;
	display: block;
	padding: 6px 11px;
	border-bottom: 1px solid #e3e49e;
}

#block-menu-menu-members-menu ul li a,
#block-block-90 a {
	list-style: none;
	list-style-type: none;
	list-style-image: none;
	color: #000;	
}

#block-menu-menu-members-menu ul li a:hover,
#block-block-90 a:hover {
	color: #f04e23;
}

/* Transcripts Menu */

#block-menu-menu-transcripts {
	margin-top: 40px;
}

#block-menu-menu-transcripts a {
	text-decoration: none;
	color: #f04e23;
}

#block-menu-menu-transcripts a:hover {
	text-decoration: underline;
	color: #f04e23;
}

#block-menu-menu-transcripts ul li {
	margin-left: -1px;
	display: block;
	padding: 6px 11px;
	border-bottom: 1px solid #e3e49e;
}

/* Transcripts Admin Menu */

#block-menu-menu-transcripts-admin {
	margin-top: 40px;
}

#block-menu-menu-transcripts-admin a {
	text-decoration: none;
	color: #f04e23;
}

#block-menu-menu-transcripts-admin a:hover {
	text-decoration: underline;
	color: #f04e23;
}

#block-menu-menu-transcripts-admin ul li {
	margin-left: -1px;
	display: block;
	padding: 6px 11px;
	border-bottom: 1px solid #e3e49e;
}

/* Shopping Cart Block */

#block-uc-cart-cart {
	font-family: 'Open Sans-Regular';
	background-color: #a2d5ed;	
	font-size: 14px;
	border: none;
}

#block-uc-cart-cart tr:hover td {
	background-color: transparent;
}

#block-uc-cart-cart tbody:hover tr {
	background-color: transparent;
}

#block-uc-cart-cart .cart-block-items tr:hover td {
	background-color: transparent;
}

#block-uc-cart-cart .cart-block-icon-full,
#block-uc-cart-cart .cart-block-icon-empty {
	float: left;
	height: 29px;
	margin: -4px 7px 0px -10px;
	width: 35px;
}

#block-uc-cart-cart .cart-block-icon-full {
	background: transparent url(../images/cart.jpg) no-repeat left;
}

#block-uc-cart-cart .cart-block-icon-empty {
	background: transparent url(../images/cart.jpg) no-repeat left;
}

body.lang-en #block-uc-cart-cart .cart-block-arrow {
  background: transparent url(../images/bullet-arrow-up.gif) no-repeat center center;
  height: 25px;
  position: absolute;
  right:-28px;
  top: -4px;
  width: 25px;
}

body.lang-fr #block-uc-cart-cart .cart-block-arrow {
  background: transparent url(../images/bullet-arrow-up.gif) no-repeat center center;
  height: 25px;
  position: absolute;
  right:-98px;
  top: -4px;
  width: 25px;
}

body.lang-en #block-uc-cart-cart .cart-block-title-bar .arrow-down {
  background: transparent url(../images/bullet-arrow-down.gif) no-repeat center center;
}

body.lang-fr #block-uc-cart-cart .cart-block-title-bar .arrow-down {
  background: transparent url(../images/bullet-arrow-down.gif) no-repeat center center;
}

#block-uc-cart-cart ul li {
	display: inline;
	padding: 0px 23px;
}

#block-uc-cart-cart .cart-block-summary-links td {
	text-align: center; 
	border-top: 2px solid #dceff3;
}

#block-uc-cart-cart .cart-block-summary-links ul a {
	text-decoration: none;
	color: #000;
}

#block-uc-cart-cart .cart-block-summary-links ul a:hover {
	text-decoration: underline;
	color: #f04e23;
}

#block-uc-cart-cart .cart-block-items tr.odd {
	background-color: #fffdbc;
}

#block-uc-cart-cart .cart-block-items tr.even {
	background-color: #fffdbc;
}

#block-uc-cart-cart .cart-block-items a {
	font-size: 11px;
	line-height: 1;
	text-decoration: none;
	color: #000;
}

#block-uc-cart-cart .cart-block-items {
	font-size: 11px;
}

#block-uc-cart-cart .cart-block-item-title {
	line-height: .5;
}

#block-uc-cart-cart .cart-block-items a:hover {
	text-decoration: underline;
	color: #f04e23;
}

.cart-block-view-cart {
	font-size:12px;
}

.cart-block-checkout {
	font-size:12px;
}

/* Welcome View */

#block-views-welcome-username-block-1 .view-content ul li {
	font-family: 'Open Sans-Regular';
	position: absolute;
	right: -60px;
	top: 25px;
	background-color:#FFF;
	width: 394px;
	text-align: center;
	padding: 2px 3px;
	display: inline;
	font-size: 13px;
	color: #333c42;
}

/* Renew your membership block */

#block-block-63 {
	font-family: 'Open Sans-Light';
	position: absolute;
	left: 61px;
	top: 58px;
	background-color:#ef4e22;
	width: 394px;
	text-align: center;
	padding: 3px 3px;
	display: inline;
	color: #FFF;
	height: 45px;
	z-index: 999;
}

#block-block-63 h2.block-title {
	font-family: 'Open Sans-Regular';
	font-size: 16px;
	color: #fff;
	margin-bottom: -5px;
}

#block-block-63 a {
	font-size: 13px;
	color: #fff;
	text-decoration: none;
}

#block-block-63 a:hover {
	font-size: 13px;
	color: #fff;
	text-decoration: underline;
}

/* Renew your membership public block */

#block-block-80 {
	font-family: 'Open Sans-Light';
	position: absolute;
	left: 62px;
	top: 58px;
	background-color:#ef4e22;
	width: 394px;
	text-align: center;
	padding: 3px 3px;
	display: inline;
	color: #FFF;
	height: 45px;
	z-index: 999;
}

#block-block-80 h2.block-title {
	font-family: 'Open Sans-Regular';
	font-size: 17px;
	color: #fff;
	margin-bottom: -5px;
}

#block-block-80 a {
	font-size: 13px;
	color: #fff;
	text-decoration: none;
}

#block-block-80 a:hover {
	font-size: 13px;
	color: #fff;
	text-decoration: underline;
}

/* Free Student postings */

#block-block-74 {
	font-family: 'Open Sans-Light';
	position: absolute;
	left: 61px;
	top: 58px;
	background-color:#ef4e22;
	width: 394px;
	text-align: center;
	padding: 3px 3px;
	display: inline;
	color: #FFF;
	height: 45px;
	z-index: 999;
}

#block-block-74 h2.block-title {
	font-family: 'Open Sans-Regular';
	font-size: 17px;
	color: #fff;
	margin-bottom: -5px;
}

#block-block-74 a {
	font-size: 13px;
	color: #fff;
	text-decoration: none;
}

#block-block-74 a:hover {
	font-size: 13px;
	color: #fff;
	text-decoration: underline;
}

/* Free Student postings French */

#block-block-75 {
	font-family: 'Open Sans-Light';
	position: absolute;
	left: 61px;
	top: 58px;
	background-color:#ef4e22;
	width: 394px;
	text-align: center;
	padding: 3px 3px;
	display: inline;
	color: #FFF;
	height: 45px;
	z-index: 999;
}

#block-block-75 h2.block-title {
	font-family: 'Open Sans-Regular';
	font-size: 17px;
	color: #fff;
	margin-bottom: -5px;
}

#block-block-75 a {
	font-size: 13px;
	color: #fff;
	text-decoration: none;
}

#block-block-75 a:hover {
	font-size: 13px;
	color: #fff;
	text-decoration: underline;
}

/* Renew your membership block French */

#block-block-67 {
	font-family: 'Open Sans-Light';
	position: absolute;
	left: 61px;
	top: 58px;
	background-color:#ef4e22;
	width: 394px;
	text-align: center;
	padding: 3px 3px;
	display: inline;
	color: #FFF;
	height: 68px;
	z-index: 999;
}

#block-block-67 h2.block-title {
	font-family: 'Open Sans-Regular';
	font-size: 16px;
	color: #fff;
	margin-bottom: -5px;
	width: 300px;
	margin-left: 50px;
}

#block-block-67 a {
	font-size: 13px;
	color: #fff;
	text-decoration: none;
}

#block-block-67 a:hover {
	font-size: 13px;
	color: #fff;
	text-decoration: underline;
}

/* Renew your membership public block French */

#block-block-81 {
	font-family: 'Open Sans-Light';
	position: absolute;
	left: 62px;
	top: 58px;
	background-color:#ef4e22;
	width: 394px;
	text-align: center;
	padding: 3px 3px;
	display: inline;
	color: #FFF;
	height: 68px;
	z-index: 999;
}

#block-block-81 h2.block-title {
	font-family: 'Open Sans-Regular';
	font-size: 17px;
	color: #fff;
	margin-bottom: -5px;
	width: 300px;
	margin-left: 50px;
}

#block-block-81 a {
	font-size: 13px;
	color: #fff;
	text-decoration: none;
}

#block-block-81 a:hover {
	font-size: 13px;
	color: #fff;
	text-decoration: underline;
}

/* Award Recipient Styles */

.node-award-recipient .field-name-field-recipient-name {
	font-family: 'Open Sans-Semibold';
	font-size: 22px;
	font-weight: 100;	
}

.node-award-recipient .field-name-field-firm-s- {
	float:left;
	font-weight: bold;
	width: 50%;
	padding-top: 15px;
	font-size: 14px;
}

.node-award-recipient .field-name-field-architect-s- {
	float:left;
	width: 100%;
	margin-bottom: -25px;
}

.node-award-recipient .field-name-field-architect-s- div.field-label {
	float:left;
}

.node-award-recipient .field-name-field-firm-s- div.field-item {
	width: 300px;
}

.node-award-recipient .field-name-field-city {
	float:left;
	word-wrap: break-word;
	padding-right: 5px;
	padding-top:10px;
	padding-bottom:10px;
}

.node-award-recipient .field-name-field-province-territory {
	float:left;
	word-wrap: break-word;
	padding-top:10px;
	padding-bottom:10px;
}

.node-award-recipient .field-name-field-lead-design-architect-s- { 
	float:left;
	width: 50%;
	padding-top: 15px;
}

.node-award-recipient .field-name-field-lead-design-architect-s- div.field-label {
	font-family: 'Open Sans-Semibold';
	font-size: 12px;
	font-weight: 100;
	text-transform: uppercase;
}

.node-award-recipient .field-name-body {
	float: left;
}

.node-award-recipient .field-name-body ul li ul li ul,
.node-award-recipient .field-name-body ul li ul {
	/*background-color:#F00;*/
	margin-bottom: -8px;
}

.node-award-recipient .field-name-field-project-images div.field-label {
	font-family: 'Open Sans-Light';
	font-size: 12px;
	text-transform: uppercase;
	background-color: #989da0;
	color: #FFF;
	padding: 5px 5px 5px 5px;
	text-align: right;
	margin-bottom: 5px;
	font-weight: 500;
} 


.node-award-recipient .field-name-field-project-images {
	float: left;
	width: 100%;
}

.node-award-recipient .field-name-field-project-images div.field-item.even {
	float: left;
	width: 325px;
	padding-right: 5px;
	padding-bottom: 5px;	
}

.node-award-recipient .field-name-field-project-images div.field-item.odd {
	padding-bottom: 5px;	
}

.node-award-recipient .field-name-field-jury-comment-s- div.field-label {
	font-family: 'Open Sans-Regular';
	font-size: 12px;
	text-transform: uppercase;
	margin-left: 65px;
	float: left;
}

.node-award-recipient .field-name-field-jury-comment-s- div.field-item.even {
	float: left;
	margin-left: 40px;
	border-left: solid 1px #333c42;
	font-family:'Merriweather';
	font-style: italic;
	font-size: 13px;
	color: #989da0;
	padding-left: 15px;
	padding-right: 50px;
	margin-bottom: 15px;
	padding-top: 15px;
}

.node-award-recipient .image-field-caption p {
	font-family: 'Open Sans-Light';
	font-size: 9px;
	color: #989da0;
	text-transform: uppercase;
	text-align: right;
	margin-bottom: 0px;
}

.node-award-recipient div.image-field-caption {
	height: 10px;
}

.node-award-recipient .field-name-field-additional-links {
	position: absolute;
	right: 15px;
	bottom: 15px;
	float: left;
	font-family: 'Open Sans-Regular';
	font-size: 12px;
	width: 305px;
	height: 310px;
	color: #FFF;
	background-color: #989da0;
	padding: 10px 10px 5px 10px;
	text-align: right;
}

.node-award-recipient .field-name-field-additional-links div.field-items {
	position: absolute;
	right: 15px;
	bottom: 0px;
}

.node-award-recipient .field-name-field-additional-links div.field-item.even a {
	color: #FFF;
	font-family: 'Open Sans-Light';
	font-size: 15px;
	text-transform: uppercase;
}

.node-award-recipient .field-name-field-award-category {
	float: left;
	width: 100%;
	padding-top:10px;
	padding-bottom:10px;
}

.node-award-recipient .field-name-field-award-category div.field-item.even {
	float: left;
	width: 100%;
}

/* Award Recipient View Styles - GG Award */

th.views-field-field-lead-design-architect-s- {
	font-size:14px;
}

td.views-field-field-lead-design-architect-s- {
	font-size:12px;
}

/* All content for Staff */

td.views-field.views-field-name-1,
td.views-field.views-field-status,
td.views-field.views-field-name,
td.views-field.views-field-type,
td.views-field.views-field-timestamp,
td.views-field.views-field-changed,
td.views-field.views-field-edit-node {
	/*font-size:12px;*/
	
}

th.views-field.views-field-name-1,
th.views-field.views-field-status,
th.views-field.views-field-name,
th.views-field.views-field-type,
th.views-field.views-field-timestamp,
th.views-field.views-field-changed,
th.views-field.views-field-edit-node {
	/*font-size:12px;*/
	
}

.view-festival-registrations .view-header {
	width: 350px;
	float: right;
	padding-top: 30px;
	padding-bottom: 10px;
	font-size: 16px;
}

.view-festival-registrations .views-exposed-form {
	padding-top: 30px;
	padding-bottom: 18px;
	margin-top: -28px;
	width: 275px;
	float: left;
}

/* Award Recipient View Styles - NUDA Award */

.view-id-national_urban_design_awards_recipients caption {
	font-size:16px;
	font-weight:bold;
	text-align: right;
}

th.views-field-field-firm-s- {
	font-size:14px;
}

td.views-field-field-firm-s- {
	font-size:12px;
}

th.views-field-field-award-category {
	font-size:14px;
}

td.views-field-field-award-category {
	font-size:12px;
}

.view-id-national_urban_design_awards_recipients .view-grouping-header {
	font-size:18px;
	font-weight:bold;
	text-align: right;
}


/* Award Recipient View Styles - Prix du XXe siècle */

.view-id-prix_du_xxe_si_cle_recipients caption {
	font-size:16px;
	font-weight:bold;
	text-align: right;
}

th.views-field-field-architect-s- {
	font-size:14px;
}

td.views-field-field-architect-s- {
	font-size:12px;
}

/* Award Recipient View Styles - Awards of Excellence */

.view-id-awards_of_excellence_recipients caption {
	font-size:16px;
	font-weight:bold;
	text-align: right;
}

/* Job Board left menu */

#block-views-exp-job-boards-jobs-board {
	margin-top: 40px;
}

#block-views-exp-job-boards-jobs-board h2.block-title {
	padding-bottom: 10px;
}

#block-views-exp-job-boards-jobs-board div.form-item {
	font-size: 12px;
	font-family: 'Open Sans-Regular';
}

#block-views-exp-job-boards-jobs-board label {
	padding-top: 10px;
}

#block-views-exp-job-boards-jobs-board label.option {
	font-weight: 100;
}

#block-views-exp-job-boards-jobs-board select.form-select {
	width: 180px;
}

#block-menu-menu-for-recruiters {
	margin-top: 40px;
}

#block-menu-menu-for-recruiters a {
	text-decoration: none;
	color: #f04e23;
}

#block-menu-menu-for-recruiters a:hover {
	text-decoration: underline;
	color: #f04e23;
}

#block-menu-menu-for-recruiters ul li {
	margin-left: -1px;
	display: block;
	padding: 6px 11px;
	border-bottom: 1px solid #e3e49e;
}

/* Job Board Styles */

.node-job-postings .field-name-field-organization {
	padding-top: 10px;
}

.node-job-postings .field-name-body {
	padding-top: 10px;
}

.node-job-postings .field-name-field-category {
	padding-top: 10px;
}

.node-job-postings .field-name-field-position-type {
	padding-top: 10px;
}

.node-job-postings .field-name-field-region {
	padding-top: 10px;
}

.node-job-postings .field-name-field-location-s- {
	padding-top: 10px;
}

.node-job-postings .field-name-field-years-of-experience {
	padding-top: 10px;
}

.node-job-postings .field-name-field-required-degree-level {
	padding-top: 10px;
}

.node-job-postings .field-name-field-application {
	padding-top: 10px;
}

.node-job-postings .field-name-field-logo {
	padding-top: 20px;
	text-align: center; 
}

/*div#edit-field-source-url,
div#edit-field-skills,
div#edit-field-category,
div#edit-field-location-s-,
div#edit-field-position-type,
div#edit-field-region,
div#edit-field-years-of-experience,
div#edit-field-required-languages,
div#edit-field-required-degree-level,
div#edit-field-application {
	float: left;
}*/

div#edit-body {
	float: none;
}

#block-views-job-boards-new-jobs-available h2.block-title {
	padding-bottom: 15px;
	padding-top: 35px;
}

#block-views-job-boards-new-jobs-available {
	font-size: 12px;
}

#block-views-job-boards-new-jobs-available table.views-table.cols-2 {
	width: 208px;
}

body.lang-en #block-views-job-boards-new-jobs-available div.view-footer a {
	background-color: #F04E23;
	font-size: 11px;
	padding: 5px 10px 5px 10px;
	color: #fff;
}

body.lang-fr #block-views-job-boards-new-jobs-available div.view-footer a {
	background-color: #F04E23;
	font-size: 10px;
	padding: 5px 3px 5px 3px;
	color: #fff;
}


/* Site map */

.site-map-menu hr {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px);
	clip: rect(1px, 1px, 1px, 1px);
	overflow: hidden;
	height: 1px;
}

.site-map-menu span.separator {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px);
	clip: rect(1px, 1px, 1px, 1px);
	overflow: hidden;
	height: 1px;
}

/* RAIC Store Views */

#block-views-exp-uc-catalog-online-catalog {
	margin-top: 40px;
}

#block-views-exp-uc-catalog-online-catalog h2.block-title {
	padding-bottom: 10px;
}

#block-views-exp-uc-catalog-online-catalog div.form-item {
	font-size: 12px;
	font-family: 'Open Sans-Regular';
}

#block-views-exp-uc-catalog-online-catalog label {
	padding-bottom: 13px;
}

#block-views-exp-uc-catalog-online-catalog .form-type-radio {
	padding-bottom: 10px;
}

#block-views-exp-uc-catalog-online-catalog label.option {
	font-weight: 100;
	padding-bottom: 10px;
}

#block-views-exp-uc-catalog-online-catalog select.form-select {
	width: 180px;
}

.view-uc-catalog tr {
	border-bottom: 1px solid #ccc;
}

.view-uc-catalog .form-actions input {
	font-family: 'Open Sans-Regular';
	height: 25px;
	font-size: 11px;
	text-transform: uppercase;
	border: none;
    display: block;
    background: #A2D5ED;
    color: #333C42;
    text-align: center;
    border-radius: 0px;
	padding: 4px 13px;
	text-shadow: 0px 0px 0px #333c42;
	font-weight: normal;
    /*box-shadow: 0px 3px 1px #2075aa;
  	-webkit-transition: all 0.15s linear;
	-moz-transition: all 0.15s linear;
	transition: all 0.15s linear;*/
}

/* Ubercart Styles */

.product-image {
	float: right;
	margin: 0  0.9em 0 0;
}

.node-product .field-name-body {
	float: none;
}

#edit-qty {
	width: 30px;
}

.display-price {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px);
	clip: rect(1px, 1px, 1px, 1px);
	overflow: hidden;
	height: 1px;
}

div.product-info {
	font-size: 14px;
}

span.uc-price {
	font-weight: normal;
}

.field-name-field-raic-member-price-for-disp {
	font-size: 14px;
}

.field-name-field-raic-member-price-for-disp .field-items {
	font-weight: bold;
	color: #F00;
}

.field-name-field-raic-member-price-for-disp .field-label {
	font-weight: bold;
	color: #F00;
}

div.add-to-cart .form-actions input {
	font-family: 'Open Sans-Regular';
	height: 25px;
	font-size: 11px;
	text-transform: uppercase;
	border: none;
    display: block;
    background: #A2D5ED;
    color: #333C42;
    text-align: center;
    border-radius: 0px;
	padding: 4px 13px;
	text-shadow: 0px 0px 0px #333c42;
	font-weight: normal;
    /*box-shadow: 0px 3px 1px #2075aa;
  	-webkit-transition: all 0.15s linear;
	-moz-transition: all 0.15s linear;
	transition: all 0.15s linear;*/
}

#uc-cart-view-form .form-actions input,
td.remove input,
div.next-button input,
.uc-cart-checkout-form .form-actions input,
form#uc-cart-checkout-review-form input {
	font-family: 'Open Sans-Regular';
	height: 25px;
	font-size: 11px;
	text-transform: uppercase;
	border: none;
    background: #A2D5ED;
    color: #333C42;
    text-align: center;
    border-radius: 0px;
	padding: 4px 13px;
	text-shadow: 0px 0px 0px #333c42;
	font-weight: normal;
    /*box-shadow: 0px 3px 1px #2075aa;
  	-webkit-transition: all 0.15s linear;
	-moz-transition: all 0.15s linear;
	transition: all 0.15s linear;*/
}

/* Advertisements Block En + Fr */

#block-block-34 h2.block-title,
#block-block-65 h2.block-title {
	font-family: 'Open Sans-Regular';
	margin-top: 35px;
	font-size: 16px;
}

/* For CiviCRM */

table.selector {
	z-index: 1000;
}

div#memberships,
div#current-relationships,
div#inactive-relationships,
div.crm-block.crm-content-block.crm-report-form-block,
div#ltype  {
	overflow: scroll;
}

section#block-civicrm-2 {
	padding-top: 25px;
	padding-bottom: 25px;
}

section#block-user-new {
	padding-bottom: 15px;
	font-size: 13px;
}

section#block-user-online {
	font-size: 13px;
}

section#block-civicrm-1 {
	padding-bottom: 25px;
}

.field-name-field-photo {
	margin-bottom: 15px;
}

/* Frontpage Advertisements Block En + Fr */

#block-block-72 h2.block-title,
#block-block-73 h2.block-title {
	font-family: 'Open Sans-Regular';
	margin-top: 35px;
	font-size: 16px;
	margin-left: 42px;
	margin-top: -30px;
}

/* Events Custom CSS */

table.form-layout-compressed.fee_block-table {
	font-size: 15px;
	margin-left: -5px;
}

div.crm-section.event_summary-section {
	font-size: 18px;
	font-weight:700;
	line-height: 1.4;
}

/* Bulletin Custom CSS */

div.field.field-name-field-photo.field-type-image {
	background-color:#000;
}

.node-bulletin-item .field-name-field-photo {
	margin-bottom: 35px;
}

.node-bulletin-item .field-name-field-photo .image-field-caption {
	padding: 3px 7px 7px 0px;
	font-weight: 500;
	letter-spacing: .5px;
	background-color: #000;
	margin-bottom: -20px;
}

.node-bulletin-item .field-name-field-photo .image-field-caption p {
	color: #e8e8e1;
	font-size: 9px;
	text-transform: uppercase;
	text-align: right;
	margin-bottom: -5px;
}	

.node-bulletin-item .field-name-field-b-category .field-label,
.node-bulletin-item .field-name-field-b-category .field-items {
	padding: 0px 5px 20px 0px;
	text-transform: uppercase;
	font-size: 14px;
}

/* Taxonomy Bulletin Category Page */

.node-teaser h2.node-title {
	font-size: 1.4em;
	font-weight: 500;
	color: #333c42;
}

.node-teaser h2.node-title a {
	color: #333c42;
}

.node-teaser .field-name-field-photo {
	float: left;
}

.node-teaser div.image-field-caption {
	float: right;
	width: 150px;
	height: 170px;
	background-color: #333c42;
	color: #FFF;
}

.node-teaser .image-field-caption p {
	color: #e8e8e1;
}
	
.node-teaser {
	border-bottom: 2px solid #909599;
	padding-bottom: 20px;
	margin-bottom: 20px;
}

.node-teaser .node-readmore a {
	font-family: 'Open Sans-Regular';
	float: left;
	width: 90px;
	margin-bottom: -10px;
	font-size: 13px;
	text-transform: uppercase;
	border: none;
    background: #333c42;
    color: #F04E23;
    text-align: center;
    border-radius: 0px;
	padding: 4px 13px;
	text-shadow: 0px 0px 0px #333c42;
	font-weight: bold;
}

.node-teaser .node-readmore a:hover {
	background-color: #333c42;
}

.node-bulletin-item .submitted {
	font-family: 'Open Sans-Semibold';
	text-transform: uppercase;
	font-size: 12px;
	font-stretch: expanded;
	color: #464646;
	padding-bottom: 12px;
}

/* Festival Submission Page */

.webform-submission fieldset {
  margin-top: 2em;  
}

.webform-submission fieldset legend {
  background: #439fd8;
  width: 95%;
  padding: 0.5em 12px;  
  text-transform: uppercase;
  color: #fff;
  font-size: 1.8em;
}

.webform-submission .webform-component--events--wednesday-june-8 legend,
.webform-submission .webform-component--events--thursday-june-9 legend,
.webform-submission .webform-component--events--friday-june-10 legend,
.webform-submission .webform-component--events--saturday-june-11 legend {
	font-size: 1.2em;
	color: #fff;
	background: #8f9fa9;
	padding: 0.5em 12px;
}

.webform-submission .fieldset-wrapper {
	width: 95%;
}

div#profilewrap42 fieldset legend {
  background: #8f9fa9;
  width: 100%;
  padding: 0.5em 12px;  
  text-transform: uppercase;
  color: #fff;
  font-size: 1.2em;
}

/* TRANSCRIPTS */

/* Exposed filters */

.view-transcripts-browse-activities .view-filters,
.view-transcripts-browse-members .view-filters,
.view-transcripts-browse-members .view-header {
    background-color: #e0e1e2;
    margin-bottom: 2em;
    padding: 1em;
    text-align: center;
    width: 632px;
}
.view-transcripts-browse-activities .view-filters label,
.view-transcripts-browse-members .view-filters label {
    font-size: 1em;
    margin-bottom: .5em;
}

.view-transcripts-browse-activities .view-filters .views-widget label,
.view-transcripts-browse-members .view-filters .views-widget label {
    font-size: .8em;
    max-width: 23em;
}

.view-transcripts-browse-activities .view-filters .description,
.view-transcripts-browse-members .view-filters .description {
    font-size: .6em;
    margin-bottom: 1em;
    margin-right: .5em;
    margin-top: .5em;
    max-width: 23em;
}

.view-transcripts-browse-activities .view-filters .views-submit-button {
  margin-top: 2em;
}

.view-transcripts-browse-members .view-filters .views-submit-button {
  float: right;
  margin-left: 4em;
  margin-top: 2.2em;
}

.view-transcripts-browse-activities .views-exposed-widgets,
.view-transcripts-browse-members .views-exposed-widgets {
    width: 600px;
    margin: 0 auto 0 auto;
}

.view-transcripts-browse-activities .views-exposed-widgets div,
.view-transcripts-browse-members .views-exposed-widgets div {
    float: left;
}

/* Learning Activities - Members page */

.page-transcripts-learning-activities  .container-12 .grid-7 {
    width: 675px;
}

.view-transcripts-browse-activities caption {
    font-size: 1.3em;
    font-weight: bold;
}

.view-transcripts-browse-activities .view-display-id-attachment_1,
.view-transcripts-browse-activities .view-display-id-attachment_4,
.view-transcripts-browse-activities .view-display-id-attachment_5,
.view-transcripts-browse-activities .view-display-id-attachment_6 {
    border: 1px solid #ccc;
}

.view-transcripts-browse-activities .view-display-id-attachment_1,
.view-transcripts-browse-activities .view-display-id-attachment_4 {
    border-top: none;
}

.view-transcripts-browse-activities .view-display-id-attachment_5 th,
.view-transcripts-browse-activities .view-display-id-attachment_6 th {
    border-bottom: none;
}

.view-transcripts-browse-activities .view-display-id-attachment_5 .view-header,
.view-transcripts-browse-activities .view-display-id-attachment_6 .view-header {
    padding-right: 8px;
    text-align: right;
}

.view-transcripts-browse-activities .view-display-id-attachment_1 .view-header,
.view-transcripts-browse-activities .view-display-id-attachment_4 .view-header {
    background-color: #f7f7f7;
    border-bottom: 1px solid #ccc;
    padding-left: 8px;
    padding-top: 1em;
    text-align: left;
}

.view-transcripts-browse-activities .view-display-id-attachment_1 .view-header h3,
.view-transcripts-browse-activities .view-display-id-attachment_4 .view-header h3 {
    font-size: 14px;
    margin-bottom: 1em;
}

.view-transcripts-browse-activities .views-field-field-hours,
.view-transcripts-browse-activities .view-display-id-attachment_5 .views-field-field-hours,
.view-transcripts-browse-activities .view-display-id-attachment_6 .views-field-field-hours {
    font-family: 'Open Sans-Semibold';
    font-size: 16px;
    font-weight: 100;
}

.view-transcripts-browse-activities .view-display-id-attachment_1 .views-field-field-hours,
.view-transcripts-browse-activities .view-display-id-attachment_4 .views-field-field-hours {
    font-family: 'Open Sans-Semibold';
    font-size: 14px;
    font-weight: normal;
}

.view-transcripts-browse-activities .view-display-id-attachment_2 .views-field-field-hours,
.view-transcripts-browse-activities .view-display-id-attachment_3 .views-field-field-hours {
    font-family: 'Open Sans-Regular';
    font-size: 14px;
    font-weight: normal;
}

.view-transcripts-browse-activities .views-table {
    width: 100%;
    margin: 0 auto;
    background-color: #F1F5FA;
}

.view-transcripts-browse-activities .view-header {
    text-align: left;
}

.view-transcripts-browse-activities .view-header h3 {
    margin-left: auto;
    margin-right: auto;
}

.view-transcripts-browse-activities .view-display-id-attachment_1,
.view-transcripts-browse-activities .view-display-id-attachment_5 {
    float: left;
    width: 320px;
}

.view-transcripts-browse-activities .view-transcripts-browse-activities {
    margin-top: 2em;
    clear: both;
}

.view-transcripts-browse-activities .view-display-id-attachment_9{
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

.view-transcripts-browse-activities .view-display-id-attachment_9 tr{
    border: 0;
}

.view-transcripts-browse-activities .view-display-id-attachment_9 td{
    margin: 0;
    padding: 0;
}

.view-transcripts-browse-activities .view-display-id-attachment_1,
.view-transcripts-browse-activities .view-display-id-attachment_4 {
    margin-top: 0;
}

.view-transcripts-browse-activities .view-display-id-attachment_4,
.view-transcripts-browse-activities .view-display-id-attachment_6 {
    clear: none;
    float: right;
    width: 320px;
}

.view-transcripts-browse-activities .view-display-id-attachment_2 {
    margin-bottom: 4em;
}

.view-transcripts-browse-activities .view-display-id-attachment_3 {
    padding-top: 4em;
}

.view-transcripts-browse-activities .views-field-field-hours {
  text-align: right;
}

.view-transcripts-browse-activities .views-field-edit-node {
  font-size: .7em;
}

/* Learning Activities - Admin page */
.view-transcripts-browse-members .view-header {
    margin-bottom: 0;
}

.view-transcripts-browse-members .view-header p {
    font-weight: bold;
    margin: 0;
    padding: 0;
    padding-top: 1.6em;
    text-align: center;
    width: 400px;
}

.view-transcripts-browse-members .view-filters {
    padding-top: 0;
}

.view-transcripts-browse-members .view-filters .description {
    margin: .5em auto 1em auto;
}

.view-transcripts-browse-members .view-filters #edit-uid-wrapper .description {
    width: 350px;
}

.view-transcripts-browse-members .views-exposed-widgets {
    width: 600px;
    margin: 0 auto;
}

.view-transcripts-browse-members #edit-field-date-filter-activities-value-wrapper, 
.view-transcripts-browse-members #edit-field-date-filter-activities-value-1-wrapper, 
.view-transcripts-browse-members #edit-field-total-core-learning-hours-value-wrapper, 
.view-transcripts-browse-members #edit-field-total-sd-learning-hours-value-wrapper,
.view-transcripts-browse-members #edit-uid-wrapper,
.view-transcripts-browse-members #edit-rid-wrapper {
    margin-top: 1.6em;
	width: 170px;
}

.view-transcripts-browse-members #edit-field-date-filter-activities-value-wrapper, 
.view-transcripts-browse-members #edit-field-date-filter-activities-value-1-wrapper { 
    margin-top: 0;
}

.view-transcripts-browse-members #edit-field-total-core-learning-hours-value-wrapper,
.view-transcripts-browse-members #edit-uid-wrapper {
    clear:both;
}

.view-transcripts-browse-members #edit-field-date-filter-activities-value-wrapper label, 
.view-transcripts-browse-members #edit-field-date-filter-activities-value-1-wrapper label, 
.view-transcripts-browse-members #edit-field-total-core-learning-hours-value-wrapper label, 
.view-transcripts-browse-members #edit-field-total-sd-learning-hours-value-wrapper label,
.view-transcripts-browse-members #edit-uid-wrapper label { 
	font-size: 12px;
}

.view-transcripts-browse-members #edit-uid-wrapper label { 
	text-align: center;
    width: 350px;
}

.view-transcripts-browse-members #edit-field-total-core-learning-hours-value-min,
.view-transcripts-browse-members #edit-field-total-core-learning-hours-value-max,
.view-transcripts-browse-members #edit-field-total-sd-learning-hours-value-min,
.view-transcripts-browse-members #edit-field-total-sd-learning-hours-value-max {
	width: 60px;
}

.view-transcripts-browse-members .views-exposed-widgets div div {
    float: none;
}

.view-transcripts-browse-members .form-type-textfield label {
    margin-top: .5em;
}

.page-transcripts-learning-activities-admin .dataTables_wrapper,
.page-transcripts-learning-activities-admin-admin .dataTables_wrapper, 
.page-transcripts-learning-activities-admin-aibc .dataTables_wrapper,
.page-transcripts-learning-activities-admin-aaa .dataTables_wrapper {
    width: 922px;
	z-index: 1000;
}

.view-transcripts-browse-members .views-field-edit-node, 
.view-transcripts-browse-members .views-field-nothing-1 {
  font-size: .7em;
}

div.DTTT_container {
  margin-right: 28%;
}