.logo-img {
  float: left;
  margin-left: 29px;
  margin-top: 1px;
}

.site-name-slogan {
  float: left;
}

.site-name {
  margin-top: 20px;
}

.site-name a {
  text-decoration: none;
}

.site-name,
.site-slogan {
  margin-bottom: 0;
  line-height: 1em;
}

.site-slogan {
  font-weight: normal;
}