.btn {
  @include button-remove-border-color();

  padding: $crm-btn-padding-base-vertical $crm-btn-padding-base-horizontal;
  text-transform: uppercase;

  // Remove the inner shadow
  &:active,
  &.active {
    @include box-shadow(none);
  }
}

.btn-default {

  &:hover {
    color: $gray-dark;
  }
}

.btn-lg {
  @include button-size($padding-large-vertical, $padding-large-horizontal, $font-size-base, $line-height-base, $btn-border-radius-base);
}

.btn-sm {
  padding: $crm-btn-padding-small-vertical $padding-base-horizontal;
}

.btn-xs {
  padding: 0 $padding-xs-horizontal;
}

.btn-block + .btn-block {
  margin-top: 10px;
}

.btn-link {
  text-transform: none;
}

// Adds the standard outer shadow to the button
.btn-shadow {
  @include box-shadow($box-shadow);
}

// Icon wrapper
.btn-icon {
  margin-right: 5px;
}


// Variations hover
.btn-default {

  &:hover {
    background-color: $btn-default-bg;
  }
}

.btn-primary {

  &:hover {
    background-color: lighten(desaturate(adjust-hue($btn-primary-bg, 0.6298), 0.0390), 5.4902);
  }
}

.btn-success {

  &:hover {
    background-color: lighten(desaturate(adjust-hue($btn-success-bg, 0.6298), 0.0390), 5.4902);
  }
}

.btn-info {

  &:hover {
    background-color: lighten(desaturate(adjust-hue($btn-info-bg, 0.6298), 0.0390), 5.4902);
  }
}

.btn-warning {

  &:hover {
    background-color: lighten(desaturate(adjust-hue($btn-warning-bg, 0.6298), 0.0390), 5.4902);
  }
}

.btn-danger {

  &:hover {
    background-color: lighten(desaturate(adjust-hue($btn-danger-bg, 0.6298), 0.0390), 5.4902);
  }
}


//== From Bootstrap 4 alpha
.btn-secondary {
  @include button-variant(#ffffff, $gray-dark, $gray-darker);
  @include button-remove-border-color();

  &:hover {
    background-color: lighten(desaturate(adjust-hue($gray-dark, 0.6298), 0.0390), 5.4902);
  }
}

.btn-default-outline {

  @include button-outline-variant($crm-white);
  color: $crm-white !important;
  border-color: $crm-white !important;

  .open &,
  &:hover,
  &:active {
    background-color: $crm-white !important;
    color: $crm-dark-blue !important;
  }
}

.btn-primary-outline {
  @include button-outline-variant($btn-primary-bg);
}

.btn-secondary-outline {
  @include button-outline-variant($gray-darker, $gray-dark);
  border-color: $gray-darker !important;

  &:hover {
    color: #ffffff !important;
  }
}

.btn-info-outline {
  @include button-outline-variant($btn-info-bg);
}

.btn-success-outline {
  @include button-outline-variant($btn-success-bg);
}

.btn-warning-outline {
  @include button-outline-variant($btn-warning-bg);
}

.btn-danger-outline {
  @include button-outline-variant($btn-danger-bg);
}
